$bgcolor: 			#67b1de;
$blue:      		#0c4da1;
$news_bg:   		#dce9ef;
$news_center_bg:    #fff;
$date_news :		#fff;
$title_news:		#69cef5;
$desc: 				#fff;
$news_line: 		#69cef5;
$footer_bg:         #3c464d;