.about-wr {
  min-height: calc(100vh - 190px);
  background-color: #b1d5e9;
  background-position: top center;
  background-repeat: no-repeat;
  //background-size: cover;
  .bg-dots {
    padding: 35px 0 5px;
  }

  .about-content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 22px 0 0;
    box-sizing: border-box;
    .about-info {
      padding-bottom: 70px;
    }
    .about-sl {
      width:50%;
      min-width: 500px;
      float: left;
      font: 900 38px/45px lato-bl, sans-serif;
      color: $blue;
    }
    .prod, .staff {
      width:155px;
      margin-left: 40px;
      float: right;
      text-align: left;
      font: 16px segoe-semi, sans-serif;
      color: #3a5579;
      .right {
        font: 900 48px centuryGothic, sans-serif;
        color: $blue;
        display: block;
        padding-bottom: 5px;
      }
    }
    .staff{
      width: 128px;
      margin-left: 130px;
    }
    section{
      @include flexbox();
      @include flex-justify-content(space-between);
      flex-flow: row wrap;
      h2 {
        width: 100%;
        font: 400 22px segoe-sbold, sans-serif;
        color: $blue;
        letter-spacing: -1px;
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-top: 0;
      }
      .products {
        @include size(320px, 200px);
        text-align: center;
        position: relative;
        margin-bottom: 25px;
        box-shadow: 1px 1px 1px 0px rgba(128,130,136,1);
        .products-under{
          position: absolute;
          top:0;
          left:0;
          display: none;
          height: 200px;
          transition: all 2s;
          background-color: $blue;
          z-index: 3;
          figcaption {
            font: 14px lato-l, sans-serif;
            padding: 0 25px 20px 25px;
          }
        }
        .transp {
          opacity:0.92;
          @include size(100%, 200px);
          background-color:#fff;
          background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(213,233,246,1) 100%);
          position:absolute;
          top:0;
          left:0;
          transition: background-color 1s;
        }
        figure {
          position: relative;
          z-index: 2;
          padding: 25px 0 10px;

          figcaption {
            font: bold 17px segoe-sbold, sans-serif;
            color: $blue;
            text-transform: uppercase;
            padding: 30px 10px 0;
          }
        }
        &:hover {
          .transp{
            background-color: $blue;
          }

          figcaption {
            color: #fff;
          }
        }
      }
      .big-text {
        figcaption {
          font-family: lato, sans-serif;
          text-align: justify;
          font-size: 14px!important;
          text-transform: none!important;
          padding-top: 15px!important;
        }
      }
    }
    @media (max-width: 1024px) {
      section{
        @include flex-justify-content(space-around);
      }
    }
    @media (max-width: 550px) {
      .about-sl {
        width:100%;
        min-width: 300px;
        float: left;
        font-size:35px;
        line-height: 37px;
        color: $blue;
      }
      .prod, .staff {
        float: left;
        margin: 10px 0;
      }
      .staff {
        margin-right: 40px;
      }
      .about-info {
        padding-bottom: 50px;
      }
    }
    @media (max-width: 550px) {
      .about-sl {
        font-size: 30px;
        line-height: 32px;
      }
    }
  }
}
@media (max-width: 1023px){
  .about-wr{
    background-size: cover;
  }
}