.contact-wr {
  min-height: 616px;
  padding-top: 35px;
  @include box-sizing();
  background-repeat: no-repeat;
  background-position: top center;

  .content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    .contact {
      @include size(450px, 350px);
      background-color: #fff;
      position: relative;
      z-index: 2;
      margin-top:30px;
      margin-left: 16px;
      padding: 30px 0 50px 20px;
      color: #292929;
      @include box-sizing();
      H1 {
        font: bold 24px segoe-sbold, sans-serif;
        color: $blue;
        text-transform: uppercase;
        margin: 0;
      }
      .branch {
        .custom, .cadr, .export, .delivery {
          @include size(100%, 97px);
          font: 14px/16px segoe-semi;
          color: #292929;
          float: left;
          margin: 15px 108px 0 0;
          .phone-number {
            font: 20px segoe-sbold;
            display: block;
            padding: 7px 0 0 25px;
            &:first-child {
              background: url(../../img/icon/phone2.png) 2px 11px no-repeat;
            }
          }
          .free {
            font: 13px segoe-semi;
            color:#868686;
            padding-top: 0;
          }
          .pd {
            background-position: 2px 11px!important;
          }
          @media (max-width: 360px){
            .phone-number{
              font-size: 18px;
            }
          }
        }
        .custom, .cadr {
          margin-right: 0;
        }
        .custom span {
           padding-top: 20px;
          background-position: 2px 24px!important;
        }
      }
      .adr {
        position: relative;
        padding-left: 20px;
        &:before {
          position: absolute;
          display: block;
          @include size(14px, 17px);
          content: '';
          background-image: url(../../img/icon/loc.png);
          top: 10px;
          margin-top: -9px;
          left: 0;
        }
      }
      .cont-email {
        position: relative;
        padding-left: 20px;
        margin-top: 15px;
        &:before {
          position: absolute;
          display: block;
          @include size(19px, 16px);
          content: '';
          background-image: url(../../img/icon/mail2.png);
          top: 6px;
          left: -3px;
        }
      }
    }
    .left-part{
      position: absolute;
      @include size(16px, 100%);
      top:0;
      left: 0;
      margin-left: -16px;
    }
    .right-part{
      position: absolute;
      @include size(16px, 100%);
      top:0;
      right: 0;
      margin-right: -16px;
    }
    .line {
      width: 100%;
      height: calc(100% - 16px);
      background-color: #fff;
    }
    .left-corner {
      width: 0;
      height:0;
      border-bottom: 16px solid #fff;
      border-left: 17px solid transparent;
    }
    .right-corner {
      width: 0;
      height:0;
      border-top: 16px solid #fff;
      border-right: 16px solid transparent;
    }
    @media (max-width: 500px){
      .contact{
        width: 90%;
        margin: 28px auto 0;
      }
    }
    @media (max-width: 360px){
      .contact{
        width: 300px;
      }
    }
  }
}
.form-wr {
  padding: 45px 0 90px;
  background: rgba(99,193,236,1);
  background: linear-gradient(135deg, rgba(99,193,236,1) 0%, rgba(123,210,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63c1ec', endColorstr='#7bd2f5', GradientType=1 );
  .form-group {
    margin-bottom: 0;
  }
  .form {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    .input-block {
      position: relative;
      width: calc(50% - 30px);
      float:left;
      margin: 25px 60px 10px 0;
      &:nth-child(2n){
        margin-right: 0;
      }
      &:nth-child(2){
        margin-right: 0;
      }
      &:nth-child(5){
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .errors{
      position:absolute;
      color: $blue;
    }
    .question-error {
      bottom: -16px;
    }
    p{
      font: bold 24px segoe-semi, sans-serif;
      text-transform: uppercase;
      color: $blue;
      margin: 0;
    }
    .intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code{
padding-left: 8px!important;
    }
    //.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code
    .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 .selected-flag{
      width: 90px!important;
    }
    .intl-tel-input .selected-flag {
      padding-left: 10px!important;
    }
    .intl-tel-input .selected-flag .iti-arrow {
      right: 5px!important;
    }
    input[type="text"] {
      width: 100%;
      height: 40px;
      @include box-sizing();
      border: 1px solid $blue;
      font: 15px segoe-semi, sans-serif;
      padding-left: 50px;
      background: #eeeeee url('../../img/icon/man.png') 9px center no-repeat;
    }
    .email {
      background-image: url('../../img/icon/mail.png')!important;
    }
    .phone {
      background-image: url('../../img/icon/phone.png')!important;
    }
    .intl-tel-input {
      width: 100%;
      .form-control {
        background: #eee;
      }
    }
    .select-style {
      font: 15px segoe-semi, sans-serif;
      position: relative;
      padding: 0;
      border: none;
      width: 100%;
      height: 40px;
      overflow: hidden;
      background: #eee url('../../img/icon/select.png') 9px center no-repeat;
      &:after {
        position: absolute;
        display: block;
        @include size(8px, 6px);
        content: '';
        background-image: url(../../img/pointer.png);
        top: 50%;
        margin-top: -3px;
        right: 20px;
      }
      label {
        display: none;
      }
      select {
        padding: 0 40px;
        @include size(100%, 40px);
        border: 1px solid $blue;
        line-height: 40px;
        background-color: transparent;
        background-image: none;
        appearance: none;
        border-radius:0;
        &:focus {
          outline: none;
        }
      }
    }
    .tarea {
      font:15px segoe-semi, sans-serif;
      border: 1px solid $blue;
      width: 100%;
      height: 85px;
      float: left;
      padding: 10px;
      @include box-sizing();
      background-color: #eee;
    }
    .submit {
      @include size(150px, 35px);
      font: 12px/35px segoe-semi, sans-serif;
      color: #fff;
      text-transform: uppercase;
      background-color: $blue;
      position: relative;
      border: none;
      margin-top: 9px;
      &:after{
        position: absolute;
        display: block;
        content: '';
        @include size(5px, 10px);
        top: 50%;
        right: 31px;
        background-image: url(../../img/pointer2.png);
        margin-top: -5px;
      }
      &:hover {
        background-color: lighten( $blue, 10% );
      }
    }

    @media (max-width: 800px){
      form{
        width: 80%;
        margin: 0 auto;
      }
      .input-block{
         width: 100%;
      }
      .select-style {
        width: 100%;
      }
      .tarea {
        width:100%;
      }
    }
  }
  @media (max-width: 1024px){
    .form {
      padding: 0 10px 0 10px;
      @include box-sizing();
    }
  }
}
