.popup{
  .shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    top:0;
    left:0;
  }
  .message {
    width: 464px;
    height: 250px;
    background-image: url(../../img/mesg.png);
    position: fixed;
    z-index: 11;
    top:50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -232px;
    text-align: center;
    .text {
      font:700 18px/23px segoe-semi, sans-serif;
      text-transform: uppercase;
      color: $blue;
      width: 85%;
      margin: 95px auto 50px;
    }
    .button {
      width: 150px;
      height: 35px;
      padding-left: 0;
      text-align: center;
      margin: 0 auto;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -75px;
      &:after{
        width: 0;
      }
    }
    .close {
      @include size(14px,14px);
      background-image:  url(../../img/icon/x.png);
      position: absolute;
      top: 10px;
      right: 12px;
    }
  }
  @media (max-width: 600px){
    .message {
      width: 320px;
      height: 173px;
      margin-top: -86px;
      margin-left: -160px;
      background: url(../../img/mesg2.png) 0 0 no-repeat;
      .text {
        font:700 16px/21px segoe-semi, sans-serif;
        width: 280px;
        margin: 75px auto 30px;
      }
    }

  }
}
