@import '_mixins';
@import '_variables';

footer {
	position: relative;
	background-color: $footer_bg;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
	.footer-wr {
		width: 100%;
		max-width: 1024px;
		@include box-sizing();
		margin: 0 auto;
		padding: 45px 0 5px;
	}
	.footer-left {
		width: 100%;
	}

	.menu {
		li{
			display: inline;
			padding-right: 50px;
		}
		a {
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
			font: 11px segoe-semi, sans-serif;
			&:hover{
				text-decoration: underline;
			}
		}
		@media (max-width:960px){
			li {
				display: block;
			}
		}
	}
	.footer-right {
		width: 100%;
		@include flexbox();
		@include flex-justify-content(space-between);
		margin-top: 40px;
	}
	.copyright {
		color: #c2c4c5;
		font: 11px segoe-semi, sans-serif;
		width: 60%;
		margin-top: 35px;
	}
	@media (max-width:960px){

	}
	@media (max-width:800px){
		.footer-left-fl {
			width: 40%;
			float: left;
		}
		.footer-right-fl {
			float: left;
			margin-left: 10px;
		}
		.footer-left{
			width: 100%;
			padding-left: 40px;
			@include box-sizing();
		}
		.footer-left .menu{
			//flex-direction: column;
		}
		li{
			margin-bottom: 20px;
			display: block;
			padding-right: 0;
		}
		.footer-right{
			width: 182px;
			margin-top: 0;
			flex-direction: column;
			div {
				margin: 0 0 30px 0;
			}
		}
		.copyright {
			clear: both;
		}
	}

	@media (max-width:600px){
		.footer-left-fl, .footer-right-fl{
			float: none;
			margin: 0 auto;
			width: 90%;
			text-align: center;
		}
		.footer-left{
			width: 100%;
			padding-left: 0;
			a {
				font-size: 14px;
			}
		}
		.menu li{
			padding-right: 0;
		}
		.footer-right {
			width: 182px;
			margin: 0 auto;
			padding-top: 20px;
			border-top: 1px solid #fff;
		}
		.copyright {
			width:25%;
			margin:0 auto;
		}
	}
}