@import '_mixins';
@import '_variables';

.header-abs {
	position: absolute;
	top: 35px;
	left: 50%;
	//margin-left: -512px;
}
.select2-container--open{
	top:58px!important;
}
.select2-search--dropdown{
	padding: 0!important;
}
.select2-dropdown{
	height: 30px;
	//border: 1px solid #b1d9ff!important;
	border: none!important;
	border-radius: 0!important;

}
.select2-search--dropdown .select2-search__field {
	height: 30px;
}
header {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	height:78px;

	.select2-selection__arrow {
		b{
			display: none;
		}
	}
	.select2-container--default .select2-selection--single {
		border: 1px solid #b1d9ff;
		border-radius: 0;
		height: 10px;
	}
	.select2-container .select2-selection--single{
		height: 30px!important;
	}
	.select2-dropdown--below {
		border: 1px solid #b1d9ff!important;
		border-top: none;
	}
	.select2-container .select2-selection--single{
		height:30px;
	}
	.select2-results {
		font-family: segoe-semi, sans-serif;
	}
	ul {
		margin: 0;
		padding-left: 0;
	}
	.upper {
		text-transform: uppercase;
	}
	.nav-box{
		position: relative;
		height:77px;
		z-index: 3;
		&:after {
			position: absolute;
			top:0;
			right: 2px;
			width: 14px;
			height: 77px;
			background: url("../../img/edge1.png") no-repeat;
			//margin-right: 1px;
		}
	}
	.head-shad {
		position: absolute;
		top:73px;
		left: 0;
		width: calc(100% - 14px);
		height: 3px;
		box-shadow: 0px 2px 2px 0px rgba(116,149,168,1);
		//background: url("../../img/shad.png") 0 0 repeat-x;
	}
	.logo {
		@include size(173px, 77px);
		float: left;
		position: relative;
		z-index: 4;
	}
	nav {
		width: calc(100% - 177px);
		//background-color: #e7e7e7;
		//background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
		background: url("../../img/header-line.png") 0 0 repeat-x;
		padding:23px 0 23px 20px;
		height: 77px;
		float: left;
		position: relative;
		z-index: 3;
		@include box-sizing();
		margin-left: -11px;
	}
	.newMenu {
		position: relative;
		width: 110px;
		margin: 0 auto;
		display: none;
	}
	.fl {
		float: left;
		width: calc(100% - 284px);
		position: relative;
	}
	.right_part {
		@include size(15px, 77px);
		float: right;
		position: relative;

	}
	.corner {
		float: left;
		width: 0;
		height: 0;
		border-top: 15px solid #e7e7e7;
		border-right: 15px solid transparent;
	}
	.right_line {
		@include size(100%, 62px);
		background-color: #e7e7e7;
	}
	.menu {
		width: 100%;
		@include flexbox();
    	@include flex-justify-content(space-around);
		flex-flow: row nowrap;
		margin-top: -23px;
		height: 75px;
		align-items: center;
		li {
			width: 100px;
			text-align: center;
		}

		a {
			text-decoration: none;
			color: #000;
			text-transform: uppercase;
			font: 12px segoe-semi, sans-serif;
			font-weight: 600;
			&:hover {
				color: $blue;
			}
		}
	}
	.menuSmall {
		width: 100%;
		@include flexbox();
		flex-direction: column;
		display: none;
		position: absolute;
		left: 0;
		top:0;
		text-align: center;
		z-index: 5;
		li {
			background-color: #e7e7e7;
			border: 1px solid #b1d9ff;
			border-bottom: none;
			&:last-child {
				border-bottom: 1px solid #b1d9ff;
			}
			&:hover {
				background-color: #d1d0d0;
			}
		}
		//@include flexbox();
		//@include flex-justify-content(space-around);
		//flex-flow: row nowrap;
		a {
			text-decoration: none;
			color: #000;
			text-transform: uppercase;
			font: 13px segoe-semi, sans-serif;
		}
	}
	.menuBut {
		@include size(110px, 30px);
		background-color: #69cef5;
		border-radius: 1px;
		color: #000;
		line-height: 31px;
		text-align: center;
		margin: 0 auto;
	}
	.search-form {
		float: right;
		position: relative;
		@include size(160px, 30px);
		&:after {
			content: '';
			@include size(13px, 13px);
			display: block;
			background-image: url(../../img/search.png);
			position: absolute;
			top: 8px;
			right: 17px;
			cursor: pointer;
		}
	}
	.input-search {
		border: 1px solid #b1d9ff;
		@include size(100%, 100%);
		padding-left: 10px;
	}
	.select-wr {
		@include size(94px, 30px);
		float: right;
		border-left: 1px solid #b1d9ff;
		margin-left: 22px;
		position: relative;
		font: 13px/30px segoe-semi, sans-serif;
		cursor: pointer;
	}
	.selected {
		position: relative;
		background-position: 19px 8px;
		background-repeat: no-repeat;
		padding-left: 44px;
		&:after{
			position: absolute;
			display: block;
			@include size(8px, 6px);
			content: '';
			background-image: url(../../img/pointer.png);
			top: 50%;
			margin-top: -2px;
			right: 10px;
		}
	}
	.language {
		display: none;
		cursor: pointer;
		width: 100px;
		//height:30px;
		background-color: #ededed;
		border: none;
		//border-top: 1px solid #b1d9ff;
		position: absolute;
		top: 30px;
		left: 0;
		z-index: 5;
		li:hover {
			background-color: darken(#ededed, 2%);
		}
		a {
			text-decoration: none;
			color: #000;
			padding: 0 0 0 44px;
			background-position: 19px 2px;
			background-repeat: no-repeat;
			&:hover {
				color: $blue;
			}
		}
		.active a{
			//text-decoration: underline;
		}
		li:last-child {
			padding-bottom: 10px;
		}
	}
	@media (max-width:950px) {
		.newMenu {
			display: block;

		}
		.menu {
			display: none;
		}
	}
	@media (max-width:625px) {
		.search-form{
			width: 140px;
			margin-right: 17px;
		}
		.select-wr {
			margin-left: 0;
		}
		.fl {
			width: calc(100% - 261px);
		}
	}

	@media (max-width:590px) {
		.search-form{
			width: 130px;
		}
		.fl {
			width: calc(100% - 251px);
		}
	}
	@media (max-width:575px) {
		.search-form{
			display: none;
		}
		.fl {
			width: calc(100% - 101px);
		}
	}
	@media (max-width:439px) {
		.menuBut {
			width: 48px;
			background: url("../../img/menu.png") center no-repeat;
			color: transparent;
		}
		.menuSmall{
			width: 100px;
		}
	}
	@media (max-width:320px) {
		.newMenu {
			width: 55px;
		}
		.select-wr {
			width: 75px;
		}
		.selected{
			padding-left: 43px;
			&:after {
				left:67px;
			}
		}
		.header-abs{
			left: 0;
			margin-left: 0;
		}
	}
}

