.magic-select {
  position: relative;
  font: 13px/18px segoe-semi, sans-serif;
  text-transform: uppercase;
  width: 380px;
  pointer-events: all;

.country {
  @include size(100%, 55px);
  @include box-sizing();
  background-color: #fff;
  font: 13px/18px segoe-semi, sans-serif;
  text-transform: uppercase;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
  box-shadow: 0px 2px 2px 0px rgba(116,149,168,1);
  padding-left: 50px;

  .iconW {
    position: relative;
    &:before {
      position: absolute;
      display: block;
      @include size(26px, 24px);
      content: '';
      background-image: url(../../img/icon/country.png);
      top: -3px;
      left: -30px;
    }
  }
  &:after {
    position: absolute;
    display: block;
    @include size(8px, 6px);
    content: '';
    background-image: url(../../img/pointer.png);
    top: 25px;
    right: 30px;
  }
  .flages {
    position: relative;
  }
  img {
    position: absolute;
    top:-2px;
    left: -30px;
    margin-top: 3px;
  }
}
.select-menu {
  display: none;
  width: 100%;
  position: absolute;
  height: 220px;
  background-color:#fff;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  top: 0;
    li {
      height: 55px;
      width: 100%;
      background-color: #fff;
      line-height: 55px;
      &:hover{
        background-color: #e4f2ff;;
      }
      .flages {
        position: relative;
      }
      img {
        position: absolute;
        top:20px;
        left: 20px;
      }
      a {
        text-decoration: none;
      }
      span {
        display: block;
        color: #000;
        padding-left: 50px;  }
  }
}
}
