.map-wr {
	min-height: calc(100vh - 190px);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	@include box-sizing();
}
.map-content{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding-bottom: 10px;
	h1{
		margin-top: 5px;
		margin-bottom: 24px;
		color: $blue;
		font: 27px segoe-sbold, sans-serif;
	}
}
.sitemap{
	//width: 100%;
	//max-width: 1024px;
	//margin: 0 auto;
	//padding-bottom: 10px;
	//h1{
	//	margin-top: 20px;
	//	margin-bottom: 30px;
	//	color: $blue;
	//	font: 27px segoe-semi, sans-serif;
	//}
	a {
		text-decoration: none;
		color: $blue;
	}
	.node {
		width: 260px;
		height: 57px;
		border-radius: 3px;
		box-shadow: 1px 1px 2px 0px rgba(128,128,128,1);
		background-color: #fff;
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0 );
		font: 14px segoe-semi, sans-serif;
		line-height: 57px;
		text-transform: uppercase;
		padding-left: 30px;
		margin-bottom: 16px;
	}
	.sub-node {
		margin-left: 45px;
		position: relative;
		&:before{
			position: absolute;
			display: block;
			content: '';
			@include size(29px, 80px);
			top: 25%;
			left: -29px;
			background-image: url(../../img/line.png);
			margin-top: -66px;
		}
	}
	.first-node{
		&:before{
			background-image: url(../../img/line1.png);
			background-repeat: no-repeat;
			top:51px;
		}
	}
}
