@import '_mixins';
@import '_variables';

.title a {
	text-decoration: none;
}
.desc a {
	text-decoration: none;
}
.upshadow{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../../img/shadow.png) 0 0;
	background-size: cover;
	z-index: 1;
}
.news-wr-top {

	background: linear-gradient(to bottom, rgba(205,228,238,1) 0%, rgba(232,237,239,1) 100%);
	background-position: 0 0 ;
	background-repeat: repeat-x;
	background-size: contain;
	overflow-x: hidden;
	.bg-dots{
		background-image: url(../../img/dot1.png);
		padding-bottom: 15px;
	}
	a {
		text-decoration: none;
	}

	section {
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		padding-top: 0px;
		display: flex;
		flex-flow: row wrap;	


		//padding-bottom: 30px;
		.big-title {
			width: 100%;
			padding: 0;
		}
		h1 {
			font: bold 24px segoe-sbold, sans-serif;
    		color: $blue;
    		text-transform: uppercase;
    		float: left;
			margin-bottom: 5px;
			margin-top: 9px;
		}
		.all {
			text-align: right;
			float: right;
			margin-top: 10px;
			a {
				color: $blue;
				text-decoration: none;
				border-bottom: 1px dashed $blue;
				margin-left: 20px; 
			}
		}
		.last-news {
			flex-basis: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items:stretch;
			align-content: stretch;
			margin-top: -5px;
			margin-bottom: 20px;
			//max-height: 425px;
		}
		.main-news {
			flex-basis: 64%;
			flex-shrink: 2;
			//background: url(../../img/news/photo1.jpg) center no-repeat;
			//background-size: cover;
			//min-height: 300px;
			min-height: 430px;
			position: relative;
			overflow: hidden;
			margin-top: 20px;
			a{
				text-decoration: none;
			}
		}
		figure {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.cover {
			position: absolute;
			//top:0;
			//left:0;
			width: 100%;
			//height: 100%;
		}
		.caption {
			padding: 0 20px 28px 30px;
			position: absolute;
			z-index: 2;
			bottom: 0;
			.date {
				color: $date_news;
				font: 600 12px segoe-semi, sans-serif;
				text-transform: uppercase;
			}
			.title {
				padding: 10px 0 18px;
				text-decoration: none;
				color: $title_news;
				font: 600 24px segoe-semi, sans-serif;
				max-height: 75px;
				box-sizing: border-box;
				overflow: hidden;
				margin-bottom: 10px;
			}
			.desc {
				color: $desc;
				line-height: 18px;
				font: 14px segoe-semi, sans-serif;
				max-height: 60px;
				overflow: hidden;
			}
		}
		.two-news {
			flex-basis: 33%;
			display: flex;
			flex-flow: column nowrap;
			align-items:stretch;
			align-content: stretch;
			border-top: 3px solid $news_line;
			border-bottom: 3px solid $news_line;
			margin: 20px 0 0 30px;
		}
		.news {
			min-width: 300px;
			//min-height: 210px;
			flex-basis: 50%;
			margin: 22px 0 0 0;
			padding-bottom: 18px;
			border-bottom: 1px solid $news_line;
			&:last-child {
				border-bottom: none;
			}
			img {
				display: block;
				@include size(124px, 85px);
				float: left;
				margin: 0 16px 20px 0;
			}
			p {
				float: left;
			}
			.date {
				color: #869094;
				font: 600 10px segoe-semi, sans-serif;
				text-transform: uppercase;
				margin-top: -2px;
				}
			.title {
				padding: 20px 0 10px;
				color: $blue;
				font-size: 16px;
				line-height: 18px;
				font-family: segoe-semi, sans-serif;
				font-weight: 600;
				height: 75px;
				box-sizing: border-box;
				overflow: hidden;
			}
			.desc {
				width: 100%;
				color: #000;
				line-height: 18px;
				height: 60px;
				overflow: hidden;
				font: 14px segoe-semi, sans-serif;
			}
			//&:first-child{
			//	margin-bottom: 0;
			//	padding-bottom: 22px;
			//}
			&:last-child{
				margin-bottom: 18px;
				margin-top: 28px;
				padding-bottom: 0;
			}
		}
		@media (max-width: 1050px) {
			.cover {
				height: 100%;
				width: auto;
			}
		}
		@media (max-width: 1024px){
			.last-news {
				@include flex-justify-content(space-around);
			}
			.cover{
				height: 100%;
				width: auto;
			}
			.two-news{
				margin-left: 0;
			}
		}
		@media (max-width: 840px){
			.main-news {
				flex-basis: 60%;
			}
			.two-news {
				flex-basis: 60%;
			}
			.cover{
				height: 100%;
				width: auto;
			}
		}
		@media (max-width: 700px){
			.main-news {
				flex-basis: 70%;
			}
			.two-news {
				flex-basis: 70%;
			}
		}
		@media (max-width: 600px){
			.main-news {
				flex-basis: 80%;
			}
			.two-news {
				flex-basis: 80%;
			}
		}
	}
}
.news-wr-center {
	background-color: #fff;
	a {
		text-decoration: none;
	}
	.pages {
		text-align: center;
	}
	.news-container {
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		padding: 40px 0 50px 0;
		@include flexbox();
    	@include flex-justify-content(flex-start);
    	flex-flow: row wrap;
		.new_s {
			width: 295px;
			margin-right: 67px;
			&:nth-child(3n){
				margin-right: 0;
			}
		}
		.news {
			@include size(295px, 330px);
			margin-bottom: 30px;
			min-width: 290px;
			background-color: #e8edef;
			figure {
				position: relative;
				width: 100%;
				height: 210px;
				overflow: hidden;
				img {
					height: 210px;
				}
				
				figcaption {
					font-family: segoe-semi, sans-serif; 
					padding: 0 10px 15px 15px;
					position: absolute;
					z-index: 2;
					bottom: 0;
					.date {
						color: $date_news;
						font: 700 10px segoe-semi, sans-serif;
						text-transform: uppercase;
					}
					.title {
						padding: 5px 0 0 0; 
						color: $title_news;
						font: 700 17px segoe-semi, sans-serif;
						letter-spacing: -0.8px;
						height: 50px;
						overflow: hidden;
						box-sizing: border-box;
					}
				}
			}
			.desc {
				padding: 20px;
				color: #000;
				font: 14px segoe-semi, sans-serif;
				height: 100px;
				line-height: 20px;
				@include box-sizing();
				overflow: hidden;
			}
		}
	}
	@media (max-width: 1024px){
		.news-container {
			@include flex-justify-content(space-around);
			.new_s {
				margin-right: 0;
			}
		}

	}
}
.news-part1 {
	flex-basis: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items:stretch;
	align-content: stretch;
	max-width:1024px;
	margin:0 auto 20px;
	padding: 30px 0 0;
	.news-img{
		flex-basis: 55%;
		flex-shrink: 2;
		min-height: 360px;
		position: relative;
		overflow: hidden;

	}

	.img1{
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	.news-body {
		flex-basis: 41%;
		align-items:stretch;
		align-content: stretch;
		margin-top: 60px;
		margin-left: 40px;
		@include box-sizing();
				.date {
					color: #869094;
					text-transform: uppercase;
					font: 700 12px segoe-semi, sans-serif;
				}
				.title {
					padding: 18px 0 20px;
					width: 100%;
					color: $blue;
					font: 700 32px segoe-semi, sans-serif;
					line-height: 40px;
					max-height: 140px;
					box-sizing: border-box;
					overflow: hidden;
					margin-bottom: 15px;
				}

				.desc {
					width: 100%;
					color: #000;
					font: 16px segoe-semi, sans-serif;
					line-height: 25px;
					height: 130px;
					overflow: hidden;
				}
	}
	// @media (max-width: 1024px) {
	// 	.news-body {
	// 		flex-basis: 80%;
	// 		margin-left: 0;
	// 	}
	// }
		@media (max-width: 1024px){
			.img1 img {
				height: 100%;
				width: auto;
			}
			.news-img {
				flex-basis: 60%;
			}
			.news-body {
				flex-basis: 80%;
				//margin-left: 0;
			}
		}
		@media (max-width: 840px){
			.news-img {
				flex-basis: 60%;
			}
			.news-body {
				flex-basis: 80%;
			}
		}
		@media (max-width: 700px){
			.news-img {
				flex-basis: 70%;
			}
			.news-body {
				flex-basis: 80%;
			}
		}
		@media (max-width: 600px){
			.news-img {
				flex-basis: 80%;
			}
			.news-body {
				flex-basis: 80%;
			}
		}
}
@media (max-width: 1024px) {
	.news-part1 {
		@include flex-justify-content(space-around);
	}
}
.news-body-center {
	width:100%;
	max-width:1024px;
	margin: 0 auto;
	padding: 25px 0 60px 0;
	overflow-x: hidden;
	font-family: segoe-semi, sans-serif;
	.ya-share2.ya-share2_inited {
		position: absolute;
		top: 9px;
		left: 120px;
		width: 80%;
	}
	.ya-share2__list{
		width: 100%;
	}
	.ya-share2__item{
		margin-right: 45px!important;
	}
	.ya-share2__badge {
		background-color: transparent!important;
	}
	.ya-share2__counter {
		background: url(../../img/icon/ya_count.png) no-repeat;
		padding: 2px 8px!important;
		background-size: contain;
		color: #4b4f56;
		min-width: 21px;
	}
	.ya-share2__item_service_facebook .ya-share2__icon{
		width: 49px;
		height: 20px;
		margin-right: 5px;
		margin-top: 3px;
		background: url(../../img/icon/fb.png) no-repeat!important;
	}
	.ya-share2__item_service_twitter .ya-share2__icon {
		width: 61px;
		height: 20px;
		margin-right: 5px;
		margin-top: 3px;
		background: url(../../img/icon/tw.png) no-repeat!important;
	}
	.ya-share2__item_service_gplus .ya-share2__icon{
		width: 32px;
		height: 20px;
		margin-right: 5px;
		margin-top: 3px;
		background: url(../../img/icon/googgle.png) no-repeat!important;
	}
	.left-part {
		float: left;
		width: 65%;
		margin-right: 5%;
		font: 15px/21px segoe-semi, sans-serif;
		.sliders{
			width: 650px;

			position: relative;
			overflow: hidden;
		}
		p{
			font: 15px/21px segoe-semi, sans-serif;
		}
		a{
			color: #000;
		}
		.annotation{
			width: 100%;
			position: relative;
			overflow: hidden;
		}
		.blue-bord {
			float: left;
			border-top: 4px solid $news_line;
			border-bottom: 4px solid $news_line;
			padding:25px 10px;
			margin: 40px 0 20px;
			font: bold 16px/21px segoe-semi, sans-serif;
			color: $blue;
		}
		.annotation-img{
			width: 100%;
			position: relative;
			overflow: hidden;
			.blue-bord {
				float: left;
				width: 56%;
				@include box-sizing();
			}
			.img1 {
				margin: 20px 20px 20px 0; 
				float: left;
				width: 40%;
				@include box-sizing();
				img {
				width: 100%;
				}
			}
		}
		.img2{
			float: right;
			width: 40%;
			margin: 20px 0 10px 20px;
			img {
				width: 100%;
			}
		}

		figcaption {
			color: #acacac;
			font-size:13px;
			padding-top:7px;
		}

		.news-slider {
			width: 100%;
			margin: 30px 0 40px;
			h2 {
				color: $blue;
				font:15px segoe-semi, sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 12px;
			}
		}
		.sl-big {
			width: 80%;
			max-width: 500px;
			height: 315px;
			float: left;
			margin-top: 1px;
			margin-right: 20px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.social {
			@include size(100%, 45px);
			@include box-sizing();
			background-color: #e8edef;
			text-transform: uppercase;
			color: $blue;
			line-height: 45px;
			font-size: 12px;
			font-weight: 600;
			padding-left: 20px;
			position: relative;
			margin-top: 10px;
			img {
				margin-left: 25px;
			}
			.yashare-auto-init {
				position: absolute;
				top:0;
				left:75px;
			}
		}
		#slider3{
			display: none;
		}
		@media (max-width: 800px){
			.ya-share2__item{
				margin-right: 10%!important;
			}
		}
		@media (max-width: 700px){
			.sliders {
				width: 100%;
				padding-left: 3%;
			}
			#slider1{
				display: none;
			}
			.sl-big{
				display: none;
			}
			#slider3 {
				display: block;
				float: left;
				width: 100%;
				margin-top: 10px;
			}
		}

	}
	.right-part {
		float: right;
		width: 300px;
		overflow: hidden;
		position: relative; //для слайдера новостей
		a {
			text-decoration: none;
		}
		.carousel-container{
			width:296px;
			margin: 0 auto;
		}
		.similar{
			text-transform: uppercase;
			margin-top: 30px;
			margin-bottom: 0;
			a {
				font: 700 15px segoe-semi, sans-serif;
				color: $blue;
			}
		}
		figure {
				position: relative;
				height: 200px;
				width: 100%;
				overflow: hidden;
			img {
				position: absolute;
				height: 100%;
			}
			
			figcaption {
				z-index: 5;
				font-family: segoe-semi, sans-serif; 
				padding: 10px 20px;
				position: absolute;
				bottom: 0;
				.date {
					color: $date_news;
					font: 010px segoe-semi, sans-serif;
					margin: 0 0 5px 0;
					text-transform: uppercase;
				}
				.title {
					text-decoration: none;
					color: $title_news;
					font: 17px segoe-semi, sans-serif;
					max-height: 48px;
					overflow: hidden;
					box-sizing: border-box;
				}
			}
			//&:after {
			//	@include size(100%, 100%);
			//	display: block;
			//	content: '';
			//	position: absolute;
			//	top:0;
			//	left: 0;
			//	background-image: url(../../img/shadow.png);
			//}
		}
		.desc {
			padding: 28px 23px 23px;
			color: #000;
			font: 14px segoe-semi, sans-serif;
			line-height: 18px;
			overflow: hidden;
			background-color: #e8edef;
			//margin-top: -3px;
			box-sizing: border-box;
			height: 104px;
		}
	}
	@media (max-width: 1024px) {
		.left-part {
			width: 100%;
			padding: 0 10px;
			margin-bottom: 20px;
			.social {
				width: calc(100% - 20px);
			}
		}
		.right-part {
			float: none;
			padding-left: calc(50% - 150px);
		}

	}
}

.pages{
	text-align: center;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	.pagination {
		display: inline-block;
		li {
			float: left;
			@include size(30px,30px)
			background-color: #eaeaea;
			margin-right: 15px;
			line-height: 30px;
			a{
				color: #000;
				display: block;
			}
			&:first-child{
				background-image: url("../../img/icon/left.png");
				span, a {
					color: transparent;
				}
			}
			&:last-child{
				background-image: url("../../img/icon/right.png");
				span,a {
					color: transparent;
				}
			}
			&:hover{
				background-color: #0f4994;
				a {color: #fff;}
			}
		}
		.active{
			background-color: #0f4994;
			a {color: #fff;}
		}
	}
}
.breadcrumb {
	width: 100%;
	max-width: 1024px;
	margin: 19px auto 0;
	position: relative;
	overflow: hidden;
	li{
		float: left;
		margin-right: 25px;
		position: relative;
		&:after {
			@include size(4px, 7px);
			display: block;
			content: '';
			position: absolute;
			top:10px;
			right: 0;
			margin-right: -15px;
			background-image: url(../../img/icon/devider.png);
		}
		&:last-child{
			&:after {
				background-image: none;
			}
		}
		a{
			color: #585858;
			font: 12px 'Liberation Mono', sans-serif;
			//letter-spacing: 0.7px;
			font-weight: 600;

			text-decoration: none;
		}
	}
}

