.confid-wr {
	background: rgba(232,237,239,1);
	background: linear-gradient(to bottom, rgba(205,228,238,1) 0%, rgba(232,237,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde4ee', endColorstr='#e8edef', GradientType=0 );
	.inner{
		background-image: url('../../img/dot1.png');
		background-repeat: repeat;
		padding-top: 35px;
	}
	.neck {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
		h1 {
			font: bold 24px segoe-sbold, sans-serif;
			color: $blue;
			text-transform: uppercase;
			padding: 8px 0 16px;
			margin: 0;
		}
	}
}
.info {
	width: 297px;
	margin-left: 4%;
	float: right;
	margin-right: 1px;
	.f-block {
		position: absolute;
		width: 125px;
		height: 50px;
		top:27px;
		left: 168px;
	}
	.feature {
		font: bold 14px segoe-semi, sans-serif;
		//position: absolute;
		position: relative;
		text-transform: uppercase;
		//top: 28px;
		//right: 26px;
		margin: 0;
		padding-left: 15px;
	}
	.num {
		//right: 45px;
		padding-left: 12px;
	}
	.in-world {
		@include size(100%, 295px);
		background: url(../../img/inworld.jpg) no-repeat;
		margin-top: 20px;
		position: relative;
		.button {
			width: 130px;
			position: absolute;
			bottom: 30px;
			left: 50%;
			margin-left: -75px;
		}
	}
	.in-number {
		@include size(100%, 295px);
		background: url(../../img/innum.jpg) no-repeat;
		margin-top: 20px;
		position: relative;
		.jcarousel2 {
			position: absolute;
			top:77px;
			left: 30px;
			width: 230px;
			height: 175px;
			position: relative;
			overflow: hidden;
			text-align: center;
			span {
				font: bolder 70px centuryGothic,sans-serif;
				color: $blue;
			}
			p {
				//font: bold 16px/23px latolight, sans-serif;
				font: 16px/23px lato,sans-serif;
				color: #3b4556;
				margin: 0;
			}
		}
	}
}

.policy, .brands {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	&-body, .brandlist{
		width: 65%;
		float: left;
		ul {
			margin: 10px 0 10px 20px;

		}
		li {
			list-style: square;
			line-height: 1.4;
		}
		.title {
			font: 20px segoe-semi, sans-serif;
			color: $blue;
			margin: 10px 0;
		}
		p {
			font: 15px segoe-semi, sans-serif;
			line-height: 1.4;
		}
	}
	@media (max-width: 1024px){
		.info {
			width: 670px;
			margin: 0 auto;
			float: none;
			position: relative;
			overflow: hidden;
			.in-number{
				width: 310px;
				float: left;
			}
			.in-world{
				float: left;
				width: 310px;
				margin-right: 50px;
			}
		}
		.policy-body{
			width: 100%;
		}
	}
	@media (max-width: 700px){
		.policy-body {
			width: 100%;
		}
		.info {
			width: 310px;
			margin-left: calc(50% - 155px);
		}
	}
}
.brandlist {
	.brand-text {
		position: relative;
		border-bottom: 1px solid #e3e3e3;
		margin-top: 35px;
		.description {
			font: 16px/30px segoe-semi, sans-serif;
			margin: 50px 0 30px;
		}
		.button {
			position: absolute;
			right: 20px;
			top: 15px;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}