.mutual {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	.info {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.result-content{
	width: 65%;
	float: left;
	padding-top: 40px;
	.search-word {
		float: left;

		font: bold 34px segoe-semi, sans-serif;
		color: #000;
		margin-right: 20px;
	}
	.amount {
		float: left;
		width: 50%;
		font: 20px segoe-semi, sans-serif;
		color: #000;
		padding-top: 14px;
	}
	.result-line {
		margin-bottom: 40px;
	}
	.short-info {
		padding-top: 27px;
		border-top: 1px solid #69cef5;
		a {
			font: 24px segoe-slight, sans-serif;
			text-decoration: underline;
			color: $blue;
		}
		//b{
		//	font-weight: bold;
		//	font: 17px segoe-sbold, sans-serif;
		//}
		.text {
			font: 17px/25px segoe-semi, sans-serif;
			padding: 20px 0 20px;
		}
	}
}
@media (max-width: 1024px){
	.result-content {
		width: 100%;
	}
	.info {
		width: 670px;
		margin: 0 auto;
		float: none;
		position: relative;
		overflow: hidden;
		.in-number{
			width: 310px;
			float: left;
		}
		.in-world{
			float: left;
			width: 310px;
			margin-right: 50px;
		}
	}
}
@media (max-width: 700px){
	.info {
		width: 310px;
		margin-left: calc(50% - 155px);
	}
}
