.dropdown-search {
  width: 288px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  background-color: #fff;
  margin-top: 10px;
}

.dropdown-search ul {
  padding: 0;
  margin: 0;
}

.dropdown-search li {
  position: relative;
  border-top: 1px solid #dedede;
  list-style: none;
  //padding: 22px 30px 21px 9px;
  //height:40px;
  padding: 15px;
  box-sizing: border-box;
}

.dropdown-search li:hover {
  background: #f5f8ff;
}

//.dropdown-search li:before {
//  position: absolute;
//  content: '';
//  background: url("../../img/arrow.png") no-repeat;
//  height: 9px;
//  width: 5px;
//  right: 23px;
//  top: 27px;
//}

.dropdown-search li:last-child {
  border-bottom: 1px solid #dedede;
}

.dropdown-search a {
  font-size: 13px;
  line-height: 14px;
  color: #16509b;
  font-family: segoe-semi, sans-Serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;

}

.dropdown-search a:hover {
  text-decoration: underline;
}

.dropdown-search .all-results {
  padding: 15px;
  min-height: 31px;
  line-height: 29px;
  display: block;
  color: #16509b;
  text-decoration: underline;
  font-family: segoe-sbold, sans-serif, sans-Serif;
  border-bottom: 1px solid #dedede;
  font-weight: bold;
}