@import '_mixins';
@import '_variables';

// @include font-face('../../fonts', 'lato', 'lato', '', 'sans-se@include font-face('../../fonts', 'segoe-semi', 'seguisb', '', 'sans-serif');

//@include font-face('../../fonts/lato', 'lato', 'Lato-Regular', '', 'sans-serif');
@include font-face('../../fonts/lato', 'lato', 'lato-regular-webfont', '', 'sans-serif');
//@include font-face('../../fonts/lato', 'lato-l', 'Lato-Light', '', 'sans-serif');
@include font-face('../../fonts/lato', 'lato-l', 'lato-light-webfont', '', 'sans-serif');
//@include font-face('../../fonts/latoBl', 'lato-bl', 'lato-bl', '', 'sans-serif');
@include font-face('../../fonts/latoBl', 'lato-bl', 'lato-black-webfont', '', 'sans-serif');

@include font-face('../../fonts/segoe', 'segoe-semi', 'segoeui', '', 'sans-serif');
@include font-face('../../fonts/segoe', 'segoe-sbold', 'segoeuib', '', 'sans-serif');
@include font-face('../../fonts/segoe', 'segoe-slight', 'segoeuisl', '', 'sans-serif');
@include font-face('../../fonts/gothic', 'centuryGothic', 'CenturyGothic-Bold', '', 'sans-serif');
@import 'header';
@import 'about';
@import 'footer';
@import 'contact';
@import 'news';
@import 'policy';
@import 'map';
@import 'search';
@import 'searchline';
@import 'contactpop';
@import 'list';

.clear {
  clear: both;
}

#map1 {
  height: 615px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .gmnoprint {
    display: none;
  }
}

#map, #map1 {
  //[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"] {
  //  display: none !important;
  //}
  .gm-style div a:first-child {
    display: none !important;
  }
}

#map {
  max-width: 1024px;
  width: 100%;
  min-height: 550px;
  background-color: $bgcolor !important;
  margin: 0 auto;
  .gm-style-cc {
    display: none;
  }
  .gm-style-iw {
    position: relative;
    z-index: 2;
  }
  //.gm-style-iw +div {
  //  display: none;
  //}
}

li {
  list-style: none;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

figure {
  margin: 0;
}

.desc p, figcaption p {
  margin: 0;
}

.editor li {
  list-style-image: url(../../img/icon/square.jpg);
  list-style-position: inside;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.bg-dots {
  padding: 35px 0 0;
  background: url(../../img/dot.png) repeat;

}

.learn-more {
  min-height: 550px;
  position: relative;
}

.information-container {
  width: 100%;
  position: relative;
  //background: linear-gradient(to bottom, rgba(103,176,222,1) 0%, rgba(196,221,254,1) 100%);
  background-image: url(../../img/learnBg.jpg);
  background-repeat: repeat;

  .information {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: justify;
    color: #3a5579;
    font: 16px/23px lato, sans-serif;
    padding-bottom: 49px;
  }
  .title {
    display: block;
    font: 39px/45px lato-bl, sans-serif;
    letter-spacing: -1px;
    color: #0c4da1;
    margin-bottom: 51px;
    overflow: hidden;
  }
  .inner-bl-inf {
    padding-left: 10%;
  }
  .information:after {
    display: table;
    content: '';
    clear: both;
  }
  .left-bl-inf {
    float: left;
    width: 50%;
  }
  .right-bl-inf {
    float: left;
    width: 50%;
  }
  @media (max-width: 768px) {
    .title {
      margin-bottom: 25px;
    }
    .left-bl-inf {
      width: 100%;
    }
    .right-bl-inf {
      width: 100%;
    }
    .inner-bl-inf {
      padding-left: 0;
    }
  }
}
@media (max-width: 1024px) {
  .information-container {
    background: linear-gradient(to bottom, rgba(103,176,222,1) 0%, rgba(196,221,254,1) 100%);
  }
}
.header-wr {
  background-color: $bgcolor;
  padding-top: 35px;
  @include box-sizing();
}

body {
  font-family: segoe-semi, sans-serif;
}

.gm-style-iw div {
  overflow: hidden !important;
}

a {
  cursor: pointer;
}

.button {
  display: block;
  font: 12px/35px segoe-semi, sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $blue;
  @include size(170px, 35px);
  //padding-left: 22px;
  position: relative;
  @include box-sizing();
  text-align: center;

  &:after {
    position: absolute;
    display: block;
    content: '';
    @include size(5px, 10px);
    top: 50%;
    right: 20px;
    background-image: url(../../img/pointer2.png);
    margin-top: -5px;
  }
  &:hover {
    background-color: lighten($blue, 10%);
  }
}

.top-abs {
  width: 100%;
  min-height: 550px;
}

.top-wr {
  background-color: $bgcolor;
  position: relative;
  //background: linear-gradient(to bottom, rgba(82,165,217,1) 0%, rgba(126,198,234,1) 100%);
  //overflow: hidden;

  .main-title {
    //margin-top: -415px;
    //position: relative;
    z-index: 10;
    width: 465px;
    position: absolute;
    bottom: 170px;
    pointer-events: none;
  }
  .top-content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    //padding: 0 10px 200px 10px;
  }
  h1 {
    width: 465px;
    font: 38px/46px lato-bl, sans-serif;
    color: #fff;
    letter-spacing: -0.5px;
    pointer-events: none;
  }
  .select-wr2 {
    @include size(377px, 58px);
    overflow: hidden;
  }
  //.magic-select {
  //  position: relative;
  //  font: 13px/18px segoe-semi, sans-serif;
  //  text-transform: uppercase;
  //  width: 97%;
  //
  //}
  //.country {
  //  @include size(85%, 55px);
  //  max-width: 380px;
  //  @include box-sizing();
  //  background-color: #fff;
  //  font: 13px/18px segoe-semi, sans-serif;
  //  text-transform: uppercase;
  //  padding: 20px;
  //  margin-top: 20px;
  //  position: relative;
  //  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
  //  box-shadow: 0px 2px 2px 0px rgba(116,149,168,1);
  //  padding-left: 50px;
  //
  //  .iconW {
  //    position: relative;
  //    &:before {
  //      position: absolute;
  //      display: block;
  //      @include size(26px, 24px);
  //      content: '';
  //      background-image: url(../../img/icon/country.png);
  //      top: -3px;
  //      left: -30px;
  //    }
  //  }
  //  &:after {
  //    position: absolute;
  //    display: block;
  //    @include size(8px, 6px);
  //    content: '';
  //    background-image: url(../../img/pointer.png);
  //    top: 25px;
  //    right: 30px;
  //  }
  //  .flages {
  //    position: relative;
  //  }
  //  img {
  //    position: absolute;
  //    top:-2px;
  //    left: -25px;
  //    margin-top: 3px;
  //    //display: inline-block;
  //    //line-height: 55px;
  //    //padding-right: 5px;
  //  }
  //}
  //.select-menu {
  //  display: none;
  //  width: 100%;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //}
  //.part-w {
  //  list-style: none;
  //  @include size(38%, 55px);
  //  width: 100%;
  //  max-width: 380px;
  //  @include box-sizing();
  //  line-height: 55px;
  //  padding-left: 50px;
  //  text-decoration: none;
  //  background-color: #e4f2ff;
  //}
  //.active {
  //  background-color: #fff;
  //}
  //.sub-menu {
  //  //width:700px;
  //  min-height: 250px;
  //  width: 70%;
  //  background-color: #fff;
  //  position: absolute;
  //  z-index: 10;
  //  top: 0;
  //  right: 0;
  //  display: none;
  //
  //  li {
  //    float: left;
  //    width: 33%;
  //    //border: 1px solid red;
  //    .flages {
  //      position: relative;
  //    }
  //    img {
  //      position: absolute;
  //      top:20px;
  //      left: 20px;
  //     // display: inline-block;
  //     // line-height: 55px;
  //     // padding-right: 5px;
  //     //padding-right: 25px;
  //      //margin-top: 3px;
  //    }
  //    a {
  //      text-decoration: none;
  //    }
  //    span {
  //      color: #000;
  //      padding-left: 50px;
  //    }
  //  }
  //
  //}

  @media (max-width: 800px) {
    .country:after {
      right: 20px;
    }
  }
  @media (max-width: 768px) {
    .sub-menu {
      li {
        width: 50%;
      }
    }
  }
  @media (max-width: 630px) {
    .country {
      padding-left: 60px;
      width: 60%;
      //padding-top: 10px;
    }
    .country:after {
      right: 20px;
    }
  }
  @media (max-width: 500px) {
    .country {
      //padding-top: 10px;
    }
    .part-w {
      padding-left: 20px;
    }
    .sub-menu {
      li {
        width: 100%;
      }
    }
    .main-title {
      //margin-top: -300px;
      h1 {
        width: 320px;
        font-size: 30px;
        line-height: 33px;
        padding: 0 5px;
      }
    }
  }
}

.center-wr {
  background-color: $bgcolor;
  background-position: top center;
  //background-size: cover;
  background-repeat: no-repeat;
  .center-content {
    width: 100%;
    max-width: 1024px;
    @include box-sizing();
    margin: 0 auto;
    //padding: 35px 0 35px;
  }
  .achieve {
    @include flexbox();
    @include flex-justify-content(space-between);
    flex-flow: row nowrap;
    padding-bottom: 35px;
  }
  .ach {
    width: 20%;
    //min-width: 300px;

    span {
      color: $blue;
      font: bolder 70px centuryGothic, sans-serif;
    }
    div {
      color: #3a5579;
      font: 600 16px/23px lato-l, sans-serif;
      height: 97px;
      overflow-y: hidden;
    }
    p {
      margin: 0;
    }
  }
  .video-part {
    width: 100%;
    margin-bottom: 65px;
  }
  .video {
    float: left;
    @include size(48%, 0);
    padding-bottom: 27.25%;
    position: relative;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .slogan-block {
    float: left;
    width: 45%;
    margin: 5% 0 0 6%;
    .title {
      //font: 29px lato-bl, sans-serif;
      font: 29px sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      color: $blue;
    }
  }
  .slogan {
    //font: 39px/45px lato-bl, sans-serif;
    font: 26px/36px sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
    color: $blue;
    margin: 20px 0 0 0;
    height: 135px;
    overflow: hidden;
  }
  h2 {
    //font: 29px lato-bl, sans-serif;
    font: 29px sans-serif;
    font-weight: 600;
    color: $blue;
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }
  .brand-cont {
    @include flexbox();
    @include flex-justify-content(space-between);
    flex-wrap: wrap;
  }
  .block-slogan {
    width: 48%;
    height: 270px;
  }
  .br-slogan {
    //font: 39px/45px lato-bl, sans-serif;
    font: 26px/36px sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    color: $blue;
    height: 180px;
    overflow: hidden;
  }
  .brand-text {
    //width: 48%;
    width: 490px;
    min-width: 320px;

    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px 30px 20px;
    margin: 0 0 30px 0;
    @include box-sizing();
    .vent-br {
      margin-bottom: 10px;
      height: 50px;
    }
  }
  .description {
    //font: 16px/27px lato-l, sans-serif;
    font: 14px/22px sans-serif;
    font-weight: 400;
    color: #546b8a;
    padding: 10px 0 0 0;
    margin-bottom: 15px;
    height: 118px;
    overflow: hidden;
    box-sizing: border-box;
  }
  @media (max-width: 1100px) {
    .slogan {
      font-size:26px;
    }
  }
  @media (max-width: 960px) {
    //.slogan {
    //  font-size: 32px;
    //}
    .ach {
      width: 45%;
    }
    .achieve {
      @include flex-justify-content(space-around);
      flex-flow: row wrap;
    }
    .brand-cont {
      @include flex-justify-content(space-around);
    }

  }
  @media (max-width: 850px) {
    .block-slogan {
      width: 80%;
      height: 160px;
    }
    .slogan {
      font-size: 26px;
    }
    .brand-text {
      width: 80%;
    }
    .br-slogan {
      font-size: 26px;
    }
  }
  @media (max-width: 800px) {
    .video {
      float: none;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 46.25%;
    }
    .slogan-block {
      float: none;
      width: 80%;
      margin: 20px auto 0;
    }
    .slogan, .br-slogan {
      font-size: 26px;
      line-height: 35px;
    }
    .video-part {
      margin-bottom: 0;
    }
  }
  @media (max-width: 600px) {
    .video-part {
      margin-bottom: 40px;
    }
    .ach {
      width: 90%;
      text-align: center;
    }
    .slogan, .br-slogan {
      font-size: 26px;
      line-height: 30px;
    }
  }
  @media (max-width: 480px) {
    .block-slogan {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 320px) {
    .block-slogan {
      height: 195px;
    }
  }
}

@media (max-width: 1023px) {
  .center-wr {
    background-size: cover;
  }
}

.error-wr {
  background-color: $bgcolor;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //padding-top: 35px;
  min-height: calc(100vh - 225px); //190 footer height + 35 padding
  .bg-dots {
    background: url(../../img/paper.png) -100px 0 no-repeat, url(../../img/dot.png) repeat;
    //background: url(../../img/letters.png) 120px 0 no-repeat, url(../../img/dot.png) repeat;

  }
  .center {
    width: 100%;
    max-width: 1024px;
    min-height: calc(100vh - 300px);
    margin: 0 auto;
    position: relative;
    //.paper {
    //  width: 930px;
    //  height: 516px;
    //  position: absolute;
    //  top: -115px;
    //  left: 0-370px;

    //  //background-size: 100%;
    //}
    &_block {
      width: 360px;
      height: 280px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -130px 0 0 -180px;
    }
    //&_block {
    //  width: 100%;
    //  height:100%;
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  background: url(../../img/paper404.png) 0 0 no-repeat;
    //  //margin: -130px 0 0 -180px;
    //}
    img {
      width: 100%;
    }
    p {
      text-transform: uppercase;
      color: $blue;
      font-size: 22px;
      font-weight: bold;
      margin: 0;
      text-align: center
    }
    .button {
      position: absolute;
      bottom: 4px;
      right: calc(50% - 85px);
      padding-left: 0;
      text-align: center;
      &:after {
        right: 27px;
      }
    }
  }
  @media (max-width: 600px) {
    .center_block {
      width: 250px;
      height: 220px;
      margin: -105px 0 0 -125px;
      P {
        font-size: 18px;
      }
      .button {
        bottom: 10px;
        right: calc(50% - 85px);
      }
    }
  }
}

.mp-info {
  padding: 18px 11px 18px;
  .mp-office {
    font: 18px segoe-semi, sans-serif;
    color: #000;
    margin-bottom: 17px;
  }
  .mp-country {
    font: 12px segoe-semi, sans-serif;
    margin-bottom: 14px;
    background: url(../../img/icon/map1.png) 1px -3px no-repeat;
    padding-left: 27px;
  }
  .mp-site, .mp-shop {
    font: 16px segoe-semi, sans-serif;
    background: url(../../img/icon/map2.png) 1px 2px no-repeat;
    margin-bottom: 7px;
    padding-left: 25px;
    a {
      color: $blue;
      text-decoration: none;
    }
    span {
      font: 12px segoe-semi, sans-serif;
      color: #afaeae;
      text-transform: uppercase;
    }
  }
  .mp-shop {
    background: url(../../img/icon/map3.png) 1px 4px no-repeat;
    margin-bottom: 0;
  }
}