.editor blockquote {
    border-top: 5px solid #69cef5;
    border-bottom: 5px solid #69cef5;
    font-size: 16px;
    color: #3a5579;
    font-family: segoe-sbold;
    font-weight: 700;
    line-height: 26px;
    padding: 24px 0;
    margin: 30px 0;
}
.editor figure {
    display: inline-block;
    margin: 10px;
}
.editor figcaption {
    color: #acacac;
    font:13px segoe-semi, sans-serif;
    padding-top:7px;
}
/*.editor li {*/
    /*list-style-image: url(vents.dev/frontend/themes/vents/web/img/icon/square.jpg);*/
/*}*/

/*.editor li:before{*/
    /*position: absolute;*/
    /*content: '';*/
    /*background: #0c4da1;*/
    /*height: 5px;*/
    /*width: 5px;*/
    /*border-radius: 50%;*/
    /*top: 8px;*/
    /*left: 0;*/
/*}*/
