blockquote {
    border-top: 5px solid #69cef5;
    border-bottom: 5px solid #69cef5;
    font-size: 16px;
    color: #3a5579;
    font-family: "SegoeUIBold";
    font-weight: 700;
    line-height: 26px;
    padding: 24px 0;
    margin: 30px 0;
}

/*li {*/
    /*position: relative;*/
    /*list-style: none;*/
    /*font-family: "SegoeUIBold";*/
    /*padding-left: 20px;*/
/*}*/

/*li:before {*/
    /*position: absolute;*/
    /*content: '';*/
    /*background: #0c4da1;*/
    /*height: 5px;*/
    /*width: 5px;*/
    /*border-radius: 50%;*/
    /*top: 8px;*/
    /*left: 0;*/
/*}*/
