@font-face {
  font-family: "lato";
  src: url("../../fonts/lato/lato-regular-webfont.eot");
  src: url("../../fonts/lato/lato-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../../fonts/lato/lato-regular-webfont.woff") format("woff"),url("../../fonts/lato/lato-regular-webfont.ttf") format("truetype"),url("../../fonts/lato/lato-regular-webfont.svg#lato") format("svg");
}

lato {
  font-family: "lato","sans-serif";
}

@font-face {
  font-family: "lato-l";
  src: url("../../fonts/lato/lato-light-webfont.eot");
  src: url("../../fonts/lato/lato-light-webfont.eot?#iefix") format("embedded-opentype"),url("../../fonts/lato/lato-light-webfont.woff") format("woff"),url("../../fonts/lato/lato-light-webfont.ttf") format("truetype"),url("../../fonts/lato/lato-light-webfont.svg#lato-l") format("svg");
}

lato-l {
  font-family: "lato-l","sans-serif";
}

@font-face {
  font-family: "lato-bl";
  src: url("../../fonts/latoBl/lato-black-webfont.eot");
  src: url("../../fonts/latoBl/lato-black-webfont.eot?#iefix") format("embedded-opentype"),url("../../fonts/latoBl/lato-black-webfont.woff") format("woff"),url("../../fonts/latoBl/lato-black-webfont.ttf") format("truetype"),url("../../fonts/latoBl/lato-black-webfont.svg#lato-bl") format("svg");
}

lato-bl {
  font-family: "lato-bl","sans-serif";
}

@font-face {
  font-family: "segoe-semi";
  src: url("../../fonts/segoe/segoeui.eot");
  src: url("../../fonts/segoe/segoeui.eot?#iefix") format("embedded-opentype"),url("../../fonts/segoe/segoeui.woff") format("woff"),url("../../fonts/segoe/segoeui.ttf") format("truetype"),url("../../fonts/segoe/segoeui.svg#segoe-semi") format("svg");
}

segoe-semi {
  font-family: "segoe-semi","sans-serif";
}

@font-face {
  font-family: "segoe-sbold";
  src: url("../../fonts/segoe/segoeuib.eot");
  src: url("../../fonts/segoe/segoeuib.eot?#iefix") format("embedded-opentype"),url("../../fonts/segoe/segoeuib.woff") format("woff"),url("../../fonts/segoe/segoeuib.ttf") format("truetype"),url("../../fonts/segoe/segoeuib.svg#segoe-sbold") format("svg");
}

segoe-sbold {
  font-family: "segoe-sbold","sans-serif";
}

@font-face {
  font-family: "segoe-slight";
  src: url("../../fonts/segoe/segoeuisl.eot");
  src: url("../../fonts/segoe/segoeuisl.eot?#iefix") format("embedded-opentype"),url("../../fonts/segoe/segoeuisl.woff") format("woff"),url("../../fonts/segoe/segoeuisl.ttf") format("truetype"),url("../../fonts/segoe/segoeuisl.svg#segoe-slight") format("svg");
}

segoe-slight {
  font-family: "segoe-slight","sans-serif";
}

@font-face {
  font-family: "centuryGothic";
  src: url("../../fonts/gothic/CenturyGothic-Bold.eot");
  src: url("../../fonts/gothic/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"),url("../../fonts/gothic/CenturyGothic-Bold.woff") format("woff"),url("../../fonts/gothic/CenturyGothic-Bold.ttf") format("truetype"),url("../../fonts/gothic/CenturyGothic-Bold.svg#centuryGothic") format("svg");
}

centuryGothic {
  font-family: "centuryGothic","sans-serif";
}

.header-abs {
  position: absolute;
  top: 35px;
  left: 50%;
}

.select2-container--open {
  top: 58px !important;
}

.select2-search--dropdown {
  padding: 0 !important;
}

.select2-dropdown {
  height: 30px;
  border: none !important;
  border-radius: 0 !important;
}

.select2-search--dropdown .select2-search__field {
  height: 30px;
}

header {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  height: 78px;
}

header .select2-selection__arrow b {
  display: none;
}

header .select2-container--default .select2-selection--single {
  border: 1px solid #b1d9ff;
  border-radius: 0;
  height: 10px;
}

header .select2-container .select2-selection--single {
  height: 30px !important;
}

header .select2-dropdown--below {
  border: 1px solid #b1d9ff !important;
  border-top: none;
}

header .select2-container .select2-selection--single {
  height: 30px;
}

header .select2-results {
  font-family: segoe-semi, sans-serif;
}

header ul {
  margin: 0;
  padding-left: 0;
}

header .upper {
  text-transform: uppercase;
}

header .nav-box {
  position: relative;
  height: 77px;
  z-index: 3;
}

header .nav-box:after {
  position: absolute;
  top: 0;
  right: 2px;
  width: 14px;
  height: 77px;
  background: url("../../img/edge1.png") no-repeat;
}

header .head-shad {
  position: absolute;
  top: 73px;
  left: 0;
  width: -webkit-calc(100% - 14px);
  width: calc(100% - 14px);
  height: 3px;
  box-shadow: 0px 2px 2px 0px #7495a8;
}

header .logo {
  width: 173px;
  height: 77px;
  float: left;
  position: relative;
  z-index: 4;
}

header nav {
  width: -webkit-calc(100% - 177px);
  width: calc(100% - 177px);
  background: url("../../img/header-line.png") 0 0 repeat-x;
  padding: 23px 0 23px 20px;
  height: 77px;
  float: left;
  position: relative;
  z-index: 3;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -11px;
}

header .newMenu {
  position: relative;
  width: 110px;
  margin: 0 auto;
  display: none;
}

header .fl {
  float: left;
  width: -webkit-calc(100% - 284px);
  width: calc(100% - 284px);
  position: relative;
}

header .right_part {
  width: 15px;
  height: 77px;
  float: right;
  position: relative;
}

header .corner {
  float: left;
  width: 0;
  height: 0;
  border-top: 15px solid #e7e7e7;
  border-right: 15px solid transparent;
}

header .right_line {
  width: 100%;
  height: 62px;
  background-color: #e7e7e7;
}

header .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-box-pack: space-around;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

header .menu a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font: 13px/31px segoe-semi, sans-serif;
  font-weight: 600;
}

header .menu a:hover {
  color: #0c4da1;
}

header .menuSmall {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 5;
}

header .menuSmall li {
  background-color: #e7e7e7;
  border: 1px solid #b1d9ff;
  border-bottom: none;
}

header .menuSmall li:last-child {
  border-bottom: 1px solid #b1d9ff;
}

header .menuSmall li:hover {
  background-color: #d1d0d0;
}

header .menuSmall a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font: 13px/31px segoe-semi, sans-serif;
}

header .menuBut {
  width: 110px;
  height: 30px;
  background-color: #69cef5;
  border-radius: 1px;
  color: #000;
  line-height: 31px;
  text-align: center;
  margin: 0 auto;
}

header .search-form {
  float: right;
  position: relative;
  width: 160px;
  height: 30px;
}

header .search-form:after {
  content: '';
  width: 13px;
  height: 13px;
  display: block;
  background-image: url("../../img/search.png");
  position: absolute;
  top: 8px;
  right: 17px;
  cursor: pointer;
}

header .input-search {
  border: 1px solid #b1d9ff;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

header .select-wr {
  width: 94px;
  height: 30px;
  float: right;
  border-left: 1px solid #b1d9ff;
  margin-left: 22px;
  position: relative;
  font: 13px/30px segoe-semi, sans-serif;
  cursor: pointer;
}

header .selected {
  position: relative;
  background-position: 19px 8px;
  background-repeat: no-repeat;
  padding-left: 44px;
}

header .selected:after {
  position: absolute;
  display: block;
  width: 8px;
  height: 6px;
  content: '';
  background-image: url("../../img/pointer.png");
  top: 50%;
  margin-top: -2px;
  right: 10px;
}

header .language {
  display: none;
  cursor: pointer;
  width: 100px;
  background-color: #ededed;
  border: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 5;
}

header .language li:hover {
  background-color: #e8e8e8;
}

header .language a {
  text-decoration: none;
  color: #000;
  padding: 0 0 0 44px;
  background-position: 19px 2px;
  background-repeat: no-repeat;
}

header .language a:hover {
  color: #0c4da1;
}

header .language li:last-child {
  padding-bottom: 10px;
}

@media (max-width: 950px) {
  header .newMenu {
    display: block;
  }

  header .menu {
    display: none;
  }
}

@media (max-width: 625px) {
  header .search-form {
    width: 140px;
    margin-right: 17px;
  }

  header .select-wr {
    margin-left: 0;
  }

  header .fl {
    width: -webkit-calc(100% - 261px);
    width: calc(100% - 261px);
  }
}

@media (max-width: 590px) {
  header .search-form {
    width: 130px;
  }

  header .fl {
    width: -webkit-calc(100% - 251px);
    width: calc(100% - 251px);
  }
}

@media (max-width: 575px) {
  header .search-form {
    display: none;
  }

  header .fl {
    width: -webkit-calc(100% - 101px);
    width: calc(100% - 101px);
  }
}

@media (max-width: 439px) {
  header .menuBut {
    width: 48px;
    background: url("../../img/menu.png") center no-repeat;
    color: transparent;
  }

  header .menuSmall {
    width: 100px;
  }
}

@media (max-width: 320px) {
  header .newMenu {
    width: 55px;
  }

  header .select-wr {
    width: 75px;
  }

  header .selected {
    padding-left: 43px;
  }

  header .selected:after {
    left: 67px;
  }

  header .header-abs {
    left: 0;
    margin-left: 0;
  }
}

.about-wr {
  min-height: -webkit-calc(100vh - 190px);
  min-height: calc(100vh - 190px);
  background-color: #b1d5e9;
  background-position: top center;
  background-repeat: no-repeat;
}

.about-wr .bg-dots {
  padding: 35px 0 5px;
}

.about-wr .about-content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 22px 0 0;
  box-sizing: border-box;
}

.about-wr .about-content .about-info {
  padding-bottom: 70px;
}

.about-wr .about-content .about-sl {
  width: 50%;
  min-width: 500px;
  float: left;
  font: 900 38px/45px lato-bl, sans-serif;
  color: #0c4da1;
}

.about-wr .about-content .prod,
.about-wr .about-content .staff {
  width: 155px;
  margin-left: 40px;
  float: right;
  text-align: left;
  font: 16px segoe-semi, sans-serif;
  color: #3a5579;
}

.about-wr .about-content .prod .right,
.about-wr .about-content .staff .right {
  font: 900 48px centuryGothic, sans-serif;
  color: #0c4da1;
  display: block;
  padding-bottom: 5px;
}

.about-wr .about-content .staff {
  width: 128px;
  margin-left: 130px;
}

.about-wr .about-content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-box-pack: space-between;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.about-wr .about-content section h2 {
  width: 100%;
  font: 400 22px segoe-sbold, sans-serif;
  color: #0c4da1;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}

.about-wr .about-content section .products {
  width: 320px;
  height: 200px;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  box-shadow: 1px 1px 1px 0px #808288;
}

.about-wr .about-content section .products .products-under {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 200px;
  -webkit-transition: all 2s;
  transition: all 2s;
  background-color: #0c4da1;
  z-index: 3;
}

.about-wr .about-content section .products .products-under figcaption {
  font: 14px lato-l, sans-serif;
  padding: 0 25px 20px 25px;
}

.about-wr .about-content section .products .transp {
  opacity: 0.92;
  width: 100%;
  height: 200px;
  background-color: #fff;
  background: -webkit-linear-gradient(top, #fff 0%, #d5e9f6 100%);
  background: linear-gradient(to bottom, #fff 0%, #d5e9f6 100%);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.about-wr .about-content section .products figure {
  position: relative;
  z-index: 2;
  padding: 25px 0 10px;
}

.about-wr .about-content section .products figure figcaption {
  font: bold 17px segoe-sbold, sans-serif;
  color: #0c4da1;
  text-transform: uppercase;
  padding: 30px 10px 0;
}

.about-wr .about-content section .products:hover .transp {
  background-color: #0c4da1;
}

.about-wr .about-content section .products:hover figcaption {
  color: #fff;
}

.about-wr .about-content section .big-text figcaption {
  font-family: lato, sans-serif;
  text-align: justify;
  font-size: 14px !important;
  text-transform: none !important;
  padding-top: 15px !important;
}

@media (max-width: 1024px) {
  .about-wr .about-content section {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-box-pack: space-around;
  }
}

@media (max-width: 550px) {
  .about-wr .about-content .about-sl {
    width: 100%;
    min-width: 300px;
    float: left;
    font-size: 35px;
    line-height: 37px;
    color: #0c4da1;
  }

  .about-wr .about-content .prod,
  .about-wr .about-content .staff {
    float: left;
    margin: 10px 0;
  }

  .about-wr .about-content .staff {
    margin-right: 40px;
  }

  .about-wr .about-content .about-info {
    padding-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .about-wr .about-content .about-sl {
    font-size: 30px;
    line-height: 32px;
  }
}

@media (max-width: 1023px) {
  .about-wr {
    background-size: cover;
  }
}

footer {
  position: relative;
  background-color: #3c464d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer-wr {
  width: 100%;
  max-width: 1024px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 45px 0 5px;
}

footer .footer-left {
  width: 100%;
}

footer .menu li {
  display: inline;
  padding-right: 50px;
}

footer .menu a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font: 11px segoe-semi, sans-serif;
}

footer .menu a:hover {
  text-decoration: underline;
}

@media (max-width: 960px) {
  footer .menu li {
    display: block;
  }
}

footer .footer-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-box-pack: space-between;
  margin-top: 40px;
}

footer .copyright {
  color: #c2c4c5;
  font: 11px segoe-semi, sans-serif;
  width: 60%;
  margin-top: 35px;
}

@media (max-width: 800px) {
  footer .footer-left-fl {
    width: 40%;
    float: left;
  }

  footer .footer-right-fl {
    float: left;
    margin-left: 10px;
  }

  footer .footer-left {
    width: 100%;
    padding-left: 40px;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  footer li {
    margin-bottom: 20px;
    display: block;
    padding-right: 0;
  }

  footer .footer-right {
    width: 182px;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer .footer-right div {
    margin: 0 0 30px 0;
  }

  footer .copyright {
    clear: both;
  }
}

@media (max-width: 600px) {
  footer .footer-left-fl,
  footer .footer-right-fl {
    float: none;
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

  footer .footer-left {
    width: 100%;
    padding-left: 0;
  }

  footer .footer-left a {
    font-size: 14px;
  }

  footer .menu li {
    padding-right: 0;
  }

  footer .footer-right {
    width: 182px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #fff;
  }

  footer .copyright {
    width: 25%;
    margin: 0 auto;
  }
}

.contact-wr {
  min-height: 616px;
  padding-top: 35px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: top center;
}

.contact-wr .content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.contact-wr .content .contact {
  width: 450px;
  height: 350px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  margin-top: 30px;
  margin-left: 16px;
  padding: 30px 0 50px 20px;
  color: #292929;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.contact-wr .content .contact H1 {
  font: bold 24px segoe-sbold, sans-serif;
  color: #0c4da1;
  text-transform: uppercase;
  margin: 0;
}

.contact-wr .content .contact .branch .custom,
.contact-wr .content .contact .branch .cadr,
.contact-wr .content .contact .branch .export,
.contact-wr .content .contact .branch .delivery {
  width: 100%;
  height: 97px;
  font: 14px/16px segoe-semi;
  color: #292929;
  float: left;
  margin: 15px 108px 0 0;
}

.contact-wr .content .contact .branch .custom .phone-number,
.contact-wr .content .contact .branch .cadr .phone-number,
.contact-wr .content .contact .branch .export .phone-number,
.contact-wr .content .contact .branch .delivery .phone-number {
  font: 20px segoe-sbold;
  display: block;
  padding: 7px 0 0 25px;
}

.contact-wr .content .contact .branch .custom .phone-number:first-child,
.contact-wr .content .contact .branch .cadr .phone-number:first-child,
.contact-wr .content .contact .branch .export .phone-number:first-child,
.contact-wr .content .contact .branch .delivery .phone-number:first-child {
  background: url("../../img/icon/phone2.png") 2px 11px no-repeat;
}

.contact-wr .content .contact .branch .custom .free,
.contact-wr .content .contact .branch .cadr .free,
.contact-wr .content .contact .branch .export .free,
.contact-wr .content .contact .branch .delivery .free {
  font: 13px segoe-semi;
  color: #868686;
  padding-top: 0;
}

.contact-wr .content .contact .branch .custom .pd,
.contact-wr .content .contact .branch .cadr .pd,
.contact-wr .content .contact .branch .export .pd,
.contact-wr .content .contact .branch .delivery .pd {
  background-position: 2px 11px !important;
}

@media (max-width: 360px) {
  .contact-wr .content .contact .branch .custom .phone-number,
  .contact-wr .content .contact .branch .cadr .phone-number,
  .contact-wr .content .contact .branch .export .phone-number,
  .contact-wr .content .contact .branch .delivery .phone-number {
    font-size: 18px;
  }
}

.contact-wr .content .contact .branch .custom,
.contact-wr .content .contact .branch .cadr {
  margin-right: 0;
}

.contact-wr .content .contact .branch .custom span {
  padding-top: 20px;
  background-position: 2px 24px !important;
}

.contact-wr .content .contact .adr {
  position: relative;
  padding-left: 20px;
}

.contact-wr .content .contact .adr:before {
  position: absolute;
  display: block;
  width: 14px;
  height: 17px;
  content: '';
  background-image: url("../../img/icon/loc.png");
  top: 10px;
  margin-top: -9px;
  left: 0;
}

.contact-wr .content .contact .cont-email {
  position: relative;
  padding-left: 20px;
  margin-top: 15px;
}

.contact-wr .content .contact .cont-email:before {
  position: absolute;
  display: block;
  width: 19px;
  height: 16px;
  content: '';
  background-image: url("../../img/icon/mail2.png");
  top: 6px;
  left: -3px;
}

.contact-wr .content .left-part {
  position: absolute;
  width: 16px;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: -16px;
}

.contact-wr .content .right-part {
  position: absolute;
  width: 16px;
  height: 100%;
  top: 0;
  right: 0;
  margin-right: -16px;
}

.contact-wr .content .line {
  width: 100%;
  height: -webkit-calc(100% - 16px);
  height: calc(100% - 16px);
  background-color: #fff;
}

.contact-wr .content .left-corner {
  width: 0;
  height: 0;
  border-bottom: 16px solid #fff;
  border-left: 17px solid transparent;
}

.contact-wr .content .right-corner {
  width: 0;
  height: 0;
  border-top: 16px solid #fff;
  border-right: 16px solid transparent;
}

@media (max-width: 500px) {
  .contact-wr .content .contact {
    width: 90%;
    margin: 28px auto 0;
  }
}

@media (max-width: 360px) {
  .contact-wr .content .contact {
    width: 300px;
  }
}

.form-wr {
  padding: 45px 0 90px;
  background: #63c1ec;
  background: -webkit-linear-gradient(315deg, #63c1ec 0%, #7bd2f5 100%);
  background: linear-gradient(135deg, #63c1ec 0%, #7bd2f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63c1ec', endColorstr='#7bd2f5', GradientType=1 );
}

.form-wr .form-group {
  margin-bottom: 0;
}

.form-wr .form {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.form-wr .form .input-block {
  position: relative;
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
  float: left;
  margin: 25px 60px 10px 0;
}

.form-wr .form .input-block:nth-child(2n) {
  margin-right: 0;
}

.form-wr .form .input-block:nth-child(2) {
  margin-right: 0;
}

.form-wr .form .input-block:nth-child(5) {
  width: 100%;
  margin-bottom: 20px;
}

.form-wr .form .errors {
  position: absolute;
  color: #0c4da1;
}

.form-wr .form .question-error {
  bottom: -16px;
}

.form-wr .form p {
  font: bold 24px segoe-semi, sans-serif;
  text-transform: uppercase;
  color: #0c4da1;
  margin: 0;
}

.form-wr .form .intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
  padding-left: 8px !important;
}

.form-wr .form .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 .selected-flag {
  width: 90px !important;
}

.form-wr .form .intl-tel-input .selected-flag {
  padding-left: 10px !important;
}

.form-wr .form .intl-tel-input .selected-flag .iti-arrow {
  right: 5px !important;
}

.form-wr .form input[type="text"] {
  width: 100%;
  height: 40px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #0c4da1;
  font: 15px segoe-semi, sans-serif;
  padding-left: 50px;
  background: #eee url("../../img/icon/man.png") 9px center no-repeat;
}

.form-wr .form .email {
  background-image: url("../../img/icon/mail.png") !important;
}

.form-wr .form .phone {
  background-image: url("../../img/icon/phone.png") !important;
}

.form-wr .form .intl-tel-input {
  width: 100%;
}

.form-wr .form .intl-tel-input .form-control {
  background: #eee;
}

.form-wr .form .select-style {
  font: 15px segoe-semi, sans-serif;
  position: relative;
  padding: 0;
  border: none;
  width: 100%;
  height: 40px;
  overflow: hidden;
  background: #eee url("../../img/icon/select.png") 9px center no-repeat;
}

.form-wr .form .select-style:after {
  position: absolute;
  display: block;
  width: 8px;
  height: 6px;
  content: '';
  background-image: url("../../img/pointer.png");
  top: 50%;
  margin-top: -3px;
  right: 20px;
}

.form-wr .form .select-style label {
  display: none;
}

.form-wr .form .select-style select {
  padding: 0 40px;
  width: 100%;
  height: 40px;
  border: 1px solid #0c4da1;
  line-height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.form-wr .form .select-style select:focus {
  outline: none;
}

.form-wr .form .tarea {
  font: 15px segoe-semi, sans-serif;
  border: 1px solid #0c4da1;
  width: 100%;
  height: 85px;
  float: left;
  padding: 10px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eee;
}

.form-wr .form .submit {
  width: 150px;
  height: 35px;
  font: 12px/35px segoe-semi, sans-serif;
  color: #fff;
  text-transform: uppercase;
  background-color: #0c4da1;
  position: relative;
  border: none;
  margin-top: 9px;
}

.form-wr .form .submit:after {
  position: absolute;
  display: block;
  content: '';
  width: 5px;
  height: 10px;
  top: 50%;
  right: 31px;
  background-image: url("../../img/pointer2.png");
  margin-top: -5px;
}

.form-wr .form .submit:hover {
  background-color: #1064d0;
}

@media (max-width: 800px) {
  .form-wr .form form {
    width: 80%;
    margin: 0 auto;
  }

  .form-wr .form .input-block {
    width: 100%;
  }

  .form-wr .form .select-style {
    width: 100%;
  }

  .form-wr .form .tarea {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .form-wr .form {
    padding: 0 10px 0 10px;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.title a {
  text-decoration: none;
}

.desc a {
  text-decoration: none;
}

.upshadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../img/shadow.png") 0 0;
  background-size: cover;
  z-index: 1;
}

.news-wr-top {
  background: -webkit-linear-gradient(top, #cde4ee 0%, #e8edef 100%);
  background: linear-gradient(to bottom, #cde4ee 0%, #e8edef 100%);
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: contain;
  overflow-x: hidden;
}

.news-wr-top .bg-dots {
  background-image: url("../../img/dot1.png");
  padding-bottom: 15px;
}

.news-wr-top a {
  text-decoration: none;
}

.news-wr-top section {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.news-wr-top section .big-title {
  width: 100%;
  padding: 0;
}

.news-wr-top section h1 {
  font: bold 24px segoe-sbold, sans-serif;
  color: #0c4da1;
  text-transform: uppercase;
  float: left;
  margin-bottom: 5px;
  margin-top: 9px;
}

.news-wr-top section .all {
  text-align: right;
  float: right;
  margin-top: 10px;
}

.news-wr-top section .all a {
  color: #0c4da1;
  text-decoration: none;
  border-bottom: 1px dashed #0c4da1;
  margin-left: 20px;
}

.news-wr-top section .last-news {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  margin-top: -5px;
  margin-bottom: 20px;
}

.news-wr-top section .main-news {
  -webkit-flex-basis: 64%;
  -ms-flex-preferred-size: 64%;
  flex-basis: 64%;
  -webkit-flex-shrink: 2;
  -ms-flex-negative: 2;
  flex-shrink: 2;
  min-height: 430px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.news-wr-top section .main-news a {
  text-decoration: none;
}

.news-wr-top section figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.news-wr-top section .cover {
  position: absolute;
  width: 100%;
}

.news-wr-top section .caption {
  padding: 0 20px 28px 30px;
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.news-wr-top section .caption .date {
  color: #fff;
  font: 600 12px segoe-semi, sans-serif;
  text-transform: uppercase;
}

.news-wr-top section .caption .title {
  padding: 10px 0 18px;
  text-decoration: none;
  color: #69cef5;
  font: 600 24px segoe-semi, sans-serif;
  max-height: 75px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 10px;
}

.news-wr-top section .caption .desc {
  color: #fff;
  line-height: 18px;
  font: 14px segoe-semi, sans-serif;
  max-height: 60px;
  overflow: hidden;
}

.news-wr-top section .two-news {
  -webkit-flex-basis: 33%;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  border-top: 3px solid #69cef5;
  border-bottom: 3px solid #69cef5;
  margin: 20px 0 0 30px;
}

.news-wr-top section .news {
  min-width: 300px;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin: 22px 0 0 0;
  padding-bottom: 18px;
  border-bottom: 1px solid #69cef5;
}

.news-wr-top section .news:last-child {
  border-bottom: none;
}

.news-wr-top section .news img {
  display: block;
  width: 124px;
  height: 85px;
  float: left;
  margin: 0 16px 20px 0;
}

.news-wr-top section .news p {
  float: left;
}

.news-wr-top section .news .date {
  color: #869094;
  font: 600 10px segoe-semi, sans-serif;
  text-transform: uppercase;
  margin-top: -2px;
}

.news-wr-top section .news .title {
  padding: 20px 0 10px;
  color: #0c4da1;
  font-size: 16px;
  line-height: 18px;
  font-family: segoe-semi, sans-serif;
  font-weight: 600;
  height: 75px;
  box-sizing: border-box;
  overflow: hidden;
}

.news-wr-top section .news .desc {
  width: 100%;
  color: #000;
  line-height: 18px;
  height: 60px;
  overflow: hidden;
  font: 14px segoe-semi, sans-serif;
}

.news-wr-top section .news:last-child {
  margin-bottom: 18px;
  margin-top: 28px;
  padding-bottom: 0;
}

@media (max-width: 1050px) {
  .news-wr-top section .cover {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 1024px) {
  .news-wr-top section .last-news {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-box-pack: space-around;
  }

  .news-wr-top section .cover {
    height: 100%;
    width: auto;
  }

  .news-wr-top section .two-news {
    margin-left: 0;
  }
}

@media (max-width: 840px) {
  .news-wr-top section .main-news {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }

  .news-wr-top section .two-news {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }

  .news-wr-top section .cover {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 700px) {
  .news-wr-top section .main-news {
    -webkit-flex-basis: 70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
  }

  .news-wr-top section .two-news {
    -webkit-flex-basis: 70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
  }
}

@media (max-width: 600px) {
  .news-wr-top section .main-news {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }

  .news-wr-top section .two-news {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
}

.news-wr-center {
  background-color: #fff;
}

.news-wr-center a {
  text-decoration: none;
}

.news-wr-center .pages {
  text-align: center;
}

.news-wr-center .news-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-box-pack: flex-start;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.news-wr-center .news-container .new_s {
  width: 295px;
  margin-right: 67px;
}

.news-wr-center .news-container .new_s:nth-child(3n) {
  margin-right: 0;
}

.news-wr-center .news-container .news {
  width: 295px;
  height: 330px;
  margin-bottom: 30px;
  min-width: 290px;
  background-color: #e8edef;
}

.news-wr-center .news-container .news figure {
  position: relative;
  width: 100%;
  height: 210px;
  overflow: hidden;
}

.news-wr-center .news-container .news figure img {
  height: 210px;
}

.news-wr-center .news-container .news figure figcaption {
  font-family: segoe-semi, sans-serif;
  padding: 0 10px 15px 15px;
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.news-wr-center .news-container .news figure figcaption .date {
  color: #fff;
  font: 700 10px segoe-semi, sans-serif;
  text-transform: uppercase;
}

.news-wr-center .news-container .news figure figcaption .title {
  padding: 5px 0 0 0;
  color: #69cef5;
  font: 700 17px segoe-semi, sans-serif;
  letter-spacing: -0.8px;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
}

.news-wr-center .news-container .news .desc {
  padding: 20px;
  color: #000;
  font: 14px segoe-semi, sans-serif;
  height: 100px;
  line-height: 20px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .news-wr-center .news-container {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-box-pack: space-around;
  }

  .news-wr-center .news-container .new_s {
    margin-right: 0;
  }
}

.news-part1 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  max-width: 1024px;
  margin: 0 auto 20px;
  padding: 30px 0 0;
}

.news-part1 .news-img {
  -webkit-flex-basis: 55%;
  -ms-flex-preferred-size: 55%;
  flex-basis: 55%;
  -webkit-flex-shrink: 2;
  -ms-flex-negative: 2;
  flex-shrink: 2;
  min-height: 360px;
  position: relative;
  overflow: hidden;
}

.news-part1 .img1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.news-part1 .img1 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.news-part1 .news-body {
  -webkit-flex-basis: 41%;
  -ms-flex-preferred-size: 41%;
  flex-basis: 41%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  margin-top: 60px;
  margin-left: 40px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.news-part1 .news-body .date {
  color: #869094;
  text-transform: uppercase;
  font: 700 12px segoe-semi, sans-serif;
}

.news-part1 .news-body .title {
  padding: 18px 0 20px;
  width: 100%;
  color: #0c4da1;
  font: 700 32px segoe-semi, sans-serif;
  line-height: 40px;
  max-height: 140px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 15px;
}

.news-part1 .news-body .desc {
  width: 100%;
  color: #000;
  font: 16px segoe-semi, sans-serif;
  line-height: 25px;
  height: 130px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .news-part1 .img1 img {
    height: 100%;
    width: auto;
  }

  .news-part1 .news-img {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }

  .news-part1 .news-body {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
}

@media (max-width: 840px) {
  .news-part1 .news-img {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }

  .news-part1 .news-body {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
}

@media (max-width: 700px) {
  .news-part1 .news-img {
    -webkit-flex-basis: 70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
  }

  .news-part1 .news-body {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
}

@media (max-width: 600px) {
  .news-part1 .news-img {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }

  .news-part1 .news-body {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
}

@media (max-width: 1024px) {
  .news-part1 {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-box-pack: space-around;
  }
}

.news-body-center {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 25px 0 60px 0;
  overflow-x: hidden;
  font-family: segoe-semi, sans-serif;
}

.news-body-center .ya-share2.ya-share2_inited {
  position: absolute;
  top: 9px;
  left: 120px;
  width: 80%;
}

.news-body-center .ya-share2__list {
  width: 100%;
}

.news-body-center .ya-share2__item {
  margin-right: 45px !important;
}

.news-body-center .ya-share2__badge {
  background-color: transparent !important;
}

.news-body-center .ya-share2__counter {
  background: url("../../img/icon/ya_count.png") no-repeat;
  padding: 2px 8px !important;
  background-size: contain;
  color: #4b4f56;
  min-width: 21px;
}

.news-body-center .ya-share2__item_service_facebook .ya-share2__icon {
  width: 49px;
  height: 20px;
  margin-right: 5px;
  margin-top: 3px;
  background: url("../../img/icon/fb.png") no-repeat !important;
}

.news-body-center .ya-share2__item_service_twitter .ya-share2__icon {
  width: 61px;
  height: 20px;
  margin-right: 5px;
  margin-top: 3px;
  background: url("../../img/icon/tw.png") no-repeat !important;
}

.news-body-center .ya-share2__item_service_gplus .ya-share2__icon {
  width: 32px;
  height: 20px;
  margin-right: 5px;
  margin-top: 3px;
  background: url("../../img/icon/googgle.png") no-repeat !important;
}

.news-body-center .left-part {
  float: left;
  width: 65%;
  margin-right: 5%;
  font: 15px/21px segoe-semi, sans-serif;
}

.news-body-center .left-part .sliders {
  width: 650px;
  position: relative;
  overflow: hidden;
}

.news-body-center .left-part p {
  font: 15px/21px segoe-semi, sans-serif;
}

.news-body-center .left-part a {
  color: #000;
}

.news-body-center .left-part .annotation {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.news-body-center .left-part .blue-bord {
  float: left;
  border-top: 4px solid #69cef5;
  border-bottom: 4px solid #69cef5;
  padding: 25px 10px;
  margin: 40px 0 20px;
  font: bold 16px/21px segoe-semi, sans-serif;
  color: #0c4da1;
}

.news-body-center .left-part .annotation-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.news-body-center .left-part .annotation-img .blue-bord {
  float: left;
  width: 56%;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.news-body-center .left-part .annotation-img .img1 {
  margin: 20px 20px 20px 0;
  float: left;
  width: 40%;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.news-body-center .left-part .annotation-img .img1 img {
  width: 100%;
}

.news-body-center .left-part .img2 {
  float: right;
  width: 40%;
  margin: 20px 0 10px 20px;
}

.news-body-center .left-part .img2 img {
  width: 100%;
}

.news-body-center .left-part figcaption {
  color: #acacac;
  font-size: 13px;
  padding-top: 7px;
}

.news-body-center .left-part .news-slider {
  width: 100%;
  margin: 30px 0 40px;
}

.news-body-center .left-part .news-slider h2 {
  color: #0c4da1;
  font: 15px segoe-semi, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.news-body-center .left-part .sl-big {
  width: 80%;
  max-width: 500px;
  height: 315px;
  float: left;
  margin-top: 1px;
  margin-right: 20px;
}

.news-body-center .left-part .sl-big img {
  width: 100%;
  height: 100%;
}

.news-body-center .left-part .social {
  width: 100%;
  height: 45px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e8edef;
  text-transform: uppercase;
  color: #0c4da1;
  line-height: 45px;
  font-size: 12px;
  font-weight: 600;
  padding-left: 20px;
  position: relative;
  margin-top: 10px;
}

.news-body-center .left-part .social img {
  margin-left: 25px;
}

.news-body-center .left-part .social .yashare-auto-init {
  position: absolute;
  top: 0;
  left: 75px;
}

.news-body-center .left-part #slider3 {
  display: none;
}

@media (max-width: 800px) {
  .news-body-center .left-part .ya-share2__item {
    margin-right: 10% !important;
  }
}

@media (max-width: 700px) {
  .news-body-center .left-part .sliders {
    width: 100%;
    padding-left: 3%;
  }

  .news-body-center .left-part #slider1 {
    display: none;
  }

  .news-body-center .left-part .sl-big {
    display: none;
  }

  .news-body-center .left-part #slider3 {
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px;
  }
}

.news-body-center .right-part {
  float: right;
  width: 300px;
  overflow: hidden;
  position: relative;
}

.news-body-center .right-part a {
  text-decoration: none;
}

.news-body-center .right-part .carousel-container {
  width: 296px;
  margin: 0 auto;
}

.news-body-center .right-part .similar {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}

.news-body-center .right-part .similar a {
  font: 700 15px segoe-semi, sans-serif;
  color: #0c4da1;
}

.news-body-center .right-part figure {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.news-body-center .right-part figure img {
  position: absolute;
  height: 100%;
}

.news-body-center .right-part figure figcaption {
  z-index: 5;
  font-family: segoe-semi, sans-serif;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
}

.news-body-center .right-part figure figcaption .date {
  color: #fff;
  font: 010px segoe-semi, sans-serif;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

.news-body-center .right-part figure figcaption .title {
  text-decoration: none;
  color: #69cef5;
  font: 17px segoe-semi, sans-serif;
  max-height: 48px;
  overflow: hidden;
  box-sizing: border-box;
}

.news-body-center .right-part .desc {
  padding: 28px 23px 23px;
  color: #000;
  font: 14px segoe-semi, sans-serif;
  line-height: 18px;
  overflow: hidden;
  background-color: #e8edef;
  box-sizing: border-box;
  height: 104px;
}

@media (max-width: 1024px) {
  .news-body-center .left-part {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .news-body-center .left-part .social {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
  }

  .news-body-center .right-part {
    float: none;
    padding-left: -webkit-calc(50% - 150px);
    padding-left: calc(50% - 150px);
  }
}

.pages {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.pages .pagination {
  display: inline-block;
}

.pages .pagination li {
  float: left;
  width: 30px;
  height: 30px;
  background-color: #eaeaea;
  margin-right: 15px;
  line-height: 30px;
}

.pages .pagination li a {
  color: #000;
  display: block;
}

.pages .pagination li:first-child {
  background-image: url("../../img/icon/left.png");
}

.pages .pagination li:first-child span,
.pages .pagination li:first-child a {
  color: transparent;
}

.pages .pagination li:last-child {
  background-image: url("../../img/icon/right.png");
}

.pages .pagination li:last-child span,
.pages .pagination li:last-child a {
  color: transparent;
}

.pages .pagination li:hover {
  background-color: #0f4994;
}

.pages .pagination li:hover a {
  color: #fff;
}

.pages .pagination .active {
  background-color: #0f4994;
}

.pages .pagination .active a {
  color: #fff;
}

.breadcrumb {
  width: 100%;
  max-width: 1024px;
  margin: 19px auto 0;
  position: relative;
  overflow: hidden;
}

.breadcrumb li {
  float: left;
  margin-right: 25px;
  position: relative;
}

.breadcrumb li:after {
  width: 4px;
  height: 7px;
  display: block;
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: -15px;
  background-image: url("../../img/icon/devider.png");
}

.breadcrumb li:last-child:after {
  background-image: none;
}

.breadcrumb li a {
  color: #585858;
  font: 12px 'Liberation Mono', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.confid-wr {
  background: #e8edef;
  background: -webkit-linear-gradient(top, #cde4ee 0%, #e8edef 100%);
  background: linear-gradient(to bottom, #cde4ee 0%, #e8edef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde4ee', endColorstr='#e8edef', GradientType=0 );
}

.confid-wr .inner {
  background-image: url("../../img/dot1.png");
  background-repeat: repeat;
  padding-top: 35px;
}

.confid-wr .neck {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.confid-wr .neck h1 {
  font: bold 24px segoe-sbold, sans-serif;
  color: #0c4da1;
  text-transform: uppercase;
  padding: 8px 0 16px;
  margin: 0;
}

.info {
  width: 297px;
  margin-left: 4%;
  float: right;
  margin-right: 1px;
}

.info .f-block {
  position: absolute;
  width: 125px;
  height: 50px;
  top: 27px;
  left: 168px;
}

.info .feature {
  font: bold 14px segoe-semi, sans-serif;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  padding-left: 15px;
}

.info .num {
  padding-left: 12px;
}

.info .in-world {
  width: 100%;
  height: 295px;
  background: url("../../img/inworld.jpg") no-repeat;
  margin-top: 20px;
  position: relative;
}

.info .in-world .button {
  width: 130px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -75px;
}

.info .in-number {
  width: 100%;
  height: 295px;
  background: url("../../img/innum.jpg") no-repeat;
  margin-top: 20px;
  position: relative;
}

.info .in-number .jcarousel2 {
  position: absolute;
  top: 77px;
  left: 30px;
  width: 230px;
  height: 175px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.info .in-number .jcarousel2 span {
  font: bolder 70px centuryGothic,sans-serif;
  color: #0c4da1;
}

.info .in-number .jcarousel2 p {
  font: 16px/23px lato,sans-serif;
  color: #3b4556;
  margin: 0;
}

.policy,
.brands {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.policy-body,
.policy .brandlist,
.brands-body,
.brands .brandlist {
  width: 65%;
  float: left;
}

.policy-body ul,
.policy .brandlist ul,
.brands-body ul,
.brands .brandlist ul {
  margin: 10px 0 10px 20px;
}

.policy-body li,
.policy .brandlist li,
.brands-body li,
.brands .brandlist li {
  list-style: square;
  line-height: 1.4;
}

.policy-body .title,
.policy .brandlist .title,
.brands-body .title,
.brands .brandlist .title {
  font: 20px segoe-semi, sans-serif;
  color: #0c4da1;
  margin: 10px 0;
}

.policy-body p,
.policy .brandlist p,
.brands-body p,
.brands .brandlist p {
  font: 15px segoe-semi, sans-serif;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .policy .info,
  .brands .info {
    width: 670px;
    margin: 0 auto;
    float: none;
    position: relative;
    overflow: hidden;
  }

  .policy .info .in-number,
  .brands .info .in-number {
    width: 310px;
    float: left;
  }

  .policy .info .in-world,
  .brands .info .in-world {
    float: left;
    width: 310px;
    margin-right: 50px;
  }

  .policy .policy-body,
  .brands .policy-body {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .policy .policy-body,
  .brands .policy-body {
    width: 100%;
  }

  .policy .info,
  .brands .info {
    width: 310px;
    margin-left: -webkit-calc(50% - 155px);
    margin-left: calc(50% - 155px);
  }
}

.brandlist .brand-text {
  position: relative;
  border-bottom: 1px solid #e3e3e3;
  margin-top: 35px;
}

.brandlist .brand-text .description {
  font: 16px/30px segoe-semi, sans-serif;
  margin: 50px 0 30px;
}

.brandlist .brand-text .button {
  position: absolute;
  right: 20px;
  top: 15px;
}

.brandlist .brand-text:last-child {
  border-bottom: none;
}

.map-wr {
  min-height: -webkit-calc(100vh - 190px);
  min-height: calc(100vh - 190px);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.map-content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.map-content h1 {
  margin-top: 5px;
  margin-bottom: 24px;
  color: #0c4da1;
  font: 27px segoe-sbold, sans-serif;
}

.sitemap a {
  text-decoration: none;
  color: #0c4da1;
}

.sitemap .node {
  width: 260px;
  height: 57px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0px gray;
  background-color: #fff;
  background: -webkit-linear-gradient(top, #fff 0%, #e7e7e7 100%);
  background: linear-gradient(to bottom, #fff 0%, #e7e7e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0 );
  font: 14px segoe-semi, sans-serif;
  line-height: 57px;
  text-transform: uppercase;
  padding-left: 30px;
  margin-bottom: 16px;
}

.sitemap .sub-node {
  margin-left: 45px;
  position: relative;
}

.sitemap .sub-node:before {
  position: absolute;
  display: block;
  content: '';
  width: 29px;
  height: 80px;
  top: 25%;
  left: -29px;
  background-image: url("../../img/line.png");
  margin-top: -66px;
}

.sitemap .first-node:before {
  background-image: url("../../img/line1.png");
  background-repeat: no-repeat;
  top: 51px;
}

.mutual {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.mutual .info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.result-content {
  width: 65%;
  float: left;
  padding-top: 40px;
}

.result-content .search-word {
  float: left;
  font: bold 34px segoe-semi, sans-serif;
  color: #000;
  margin-right: 20px;
}

.result-content .amount {
  float: left;
  width: 50%;
  font: 20px segoe-semi, sans-serif;
  color: #000;
  padding-top: 14px;
}

.result-content .result-line {
  margin-bottom: 40px;
}

.result-content .short-info {
  padding-top: 27px;
  border-top: 1px solid #69cef5;
}

.result-content .short-info a {
  font: 24px segoe-slight, sans-serif;
  text-decoration: underline;
  color: #0c4da1;
}

.result-content .short-info .text {
  font: 17px/25px segoe-semi, sans-serif;
  padding: 20px 0 20px;
}

@media (max-width: 1024px) {
  .result-content {
    width: 100%;
  }

  .info {
    width: 670px;
    margin: 0 auto;
    float: none;
    position: relative;
    overflow: hidden;
  }

  .info .in-number {
    width: 310px;
    float: left;
  }

  .info .in-world {
    float: left;
    width: 310px;
    margin-right: 50px;
  }
}

@media (max-width: 700px) {
  .info {
    width: 310px;
    margin-left: -webkit-calc(50% - 155px);
    margin-left: calc(50% - 155px);
  }
}

.dropdown-search {
  width: 288px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  background-color: #fff;
  margin-top: 10px;
}

.dropdown-search ul {
  padding: 0;
  margin: 0;
}

.dropdown-search li {
  position: relative;
  border-top: 1px solid #dedede;
  list-style: none;
  padding: 15px;
  box-sizing: border-box;
}

.dropdown-search li:hover {
  background: #f5f8ff;
}

.dropdown-search li:last-child {
  border-bottom: 1px solid #dedede;
}

.dropdown-search a {
  font-size: 13px;
  line-height: 14px;
  color: #16509b;
  font-family: segoe-semi, sans-Serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-search a:hover {
  text-decoration: underline;
}

.dropdown-search .all-results {
  padding: 15px;
  min-height: 31px;
  line-height: 29px;
  display: block;
  color: #16509b;
  text-decoration: underline;
  font-family: segoe-sbold, sans-serif, sans-Serif;
  border-bottom: 1px solid #dedede;
  font-weight: bold;
}

.popup .shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 10;
  top: 0;
  left: 0;
}

.popup .message {
  width: 464px;
  height: 250px;
  background-image: url("../../img/mesg.png");
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -232px;
  text-align: center;
}

.popup .message .text {
  font: 700 18px/23px segoe-semi, sans-serif;
  text-transform: uppercase;
  color: #0c4da1;
  width: 85%;
  margin: 95px auto 50px;
}

.popup .message .button {
  width: 150px;
  height: 35px;
  padding-left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -75px;
}

.popup .message .button:after {
  width: 0;
}

.popup .message .close {
  width: 14px;
  height: 14px;
  background-image: url("../../img/icon/x.png");
  position: absolute;
  top: 10px;
  right: 12px;
}

@media (max-width: 600px) {
  .popup .message {
    width: 320px;
    height: 173px;
    margin-top: -86px;
    margin-left: -160px;
    background: url("../../img/mesg2.png") 0 0 no-repeat;
  }

  .popup .message .text {
    font: 700 16px/21px segoe-semi, sans-serif;
    width: 280px;
    margin: 75px auto 30px;
  }
}

.magic-select {
  position: relative;
  font: 13px/18px segoe-semi, sans-serif;
  text-transform: uppercase;
  width: 380px;
  pointer-events: all;
}

.magic-select .country {
  width: 100%;
  height: 55px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  font: 13px/18px segoe-semi, sans-serif;
  text-transform: uppercase;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  background: -webkit-linear-gradient(top, #fff 0%, #ededed 100%);
  background: linear-gradient(to bottom, #fff 0%, #ededed 100%);
  box-shadow: 0px 2px 2px 0px #7495a8;
  padding-left: 50px;
}

.magic-select .country .iconW {
  position: relative;
}

.magic-select .country .iconW:before {
  position: absolute;
  display: block;
  width: 26px;
  height: 24px;
  content: '';
  background-image: url("../../img/icon/country.png");
  top: -3px;
  left: -30px;
}

.magic-select .country:after {
  position: absolute;
  display: block;
  width: 8px;
  height: 6px;
  content: '';
  background-image: url("../../img/pointer.png");
  top: 25px;
  right: 30px;
}

.magic-select .country .flages {
  position: relative;
}

.magic-select .country img {
  position: absolute;
  top: -2px;
  left: -30px;
  margin-top: 3px;
}

.magic-select .select-menu {
  display: none;
  width: 100%;
  position: absolute;
  height: 220px;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  top: 0;
}

.magic-select .select-menu li {
  height: 55px;
  width: 100%;
  background-color: #fff;
  line-height: 55px;
}

.magic-select .select-menu li:hover {
  background-color: #e4f2ff;
}

.magic-select .select-menu li .flages {
  position: relative;
}

.magic-select .select-menu li img {
  position: absolute;
  top: 20px;
  left: 20px;
}

.magic-select .select-menu li a {
  text-decoration: none;
}

.magic-select .select-menu li span {
  display: block;
  color: #000;
  padding-left: 50px;
}

.clear {
  clear: both;
}

#map1 {
  height: 615px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#map1 .gmnoprint {
  display: none;
}

#map .gm-style div a:first-child,
#map1 .gm-style div a:first-child {
  display: none !important;
}

#map {
  max-width: 1024px;
  width: 100%;
  min-height: 550px;
  background-color: #67b1de !important;
  margin: 0 auto;
}

#map .gm-style-cc {
  display: none;
}

#map .gm-style-iw {
  position: relative;
  z-index: 2;
}

li {
  list-style: none;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

figure {
  margin: 0;
}

.desc p,
figcaption p {
  margin: 0;
}

.editor li {
  list-style-image: url("../../img/icon/square.jpg");
  list-style-position: inside;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.bg-dots {
  padding: 35px 0 0;
  background: url("../../img/dot.png") repeat;
}

.learn-more {
  min-height: 550px;
  position: relative;
}

.information-container {
  width: 100%;
  position: relative;
  background-image: url("../../img/learnBg.jpg");
  background-repeat: repeat;
}

.information-container .information {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: justify;
  color: #3a5579;
  font: 16px/23px lato, sans-serif;
  padding-bottom: 49px;
}

.information-container .title {
  display: block;
  font: 39px/45px lato-bl, sans-serif;
  letter-spacing: -1px;
  color: #0c4da1;
  margin-bottom: 51px;
  overflow: hidden;
}

.information-container .inner-bl-inf {
  padding-left: 10%;
}

.information-container .information:after {
  display: table;
  content: '';
  clear: both;
}

.information-container .left-bl-inf {
  float: left;
  width: 50%;
}

.information-container .right-bl-inf {
  float: left;
  width: 50%;
}

@media (max-width: 768px) {
  .information-container .title {
    margin-bottom: 25px;
  }

  .information-container .left-bl-inf {
    width: 100%;
  }

  .information-container .right-bl-inf {
    width: 100%;
  }

  .information-container .inner-bl-inf {
    padding-left: 0;
  }
}

@media (max-width: 1024px) {
  .information-container {
    background: -webkit-linear-gradient(top, #67b0de 0%, #c4ddfe 100%);
    background: linear-gradient(to bottom, #67b0de 0%, #c4ddfe 100%);
  }
}

.header-wr {
  background-color: #67b1de;
  padding-top: 35px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: segoe-semi, sans-serif;
}

.gm-style-iw div {
  overflow: hidden !important;
}

a {
  cursor: pointer;
}

.button {
  display: block;
  font: 12px/35px segoe-semi, sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #0c4da1;
  width: 170px;
  height: 35px;
  position: relative;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.button:after {
  position: absolute;
  display: block;
  content: '';
  width: 5px;
  height: 10px;
  top: 50%;
  right: 20px;
  background-image: url("../../img/pointer2.png");
  margin-top: -5px;
}

.button:hover {
  background-color: #1064d0;
}

.top-abs {
  width: 100%;
  min-height: 550px;
}

.top-wr {
  background-color: #67b1de;
  position: relative;
}

.top-wr .main-title {
  z-index: 10;
  width: 465px;
  position: absolute;
  bottom: 170px;
  pointer-events: none;
}

.top-wr .top-content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.top-wr h1 {
  width: 465px;
  font: 38px/46px lato-bl, sans-serif;
  color: #fff;
  letter-spacing: -0.5px;
  pointer-events: none;
}

.top-wr .select-wr2 {
  width: 377px;
  height: 58px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .top-wr .country:after {
    right: 20px;
  }
}

@media (max-width: 768px) {
  .top-wr .sub-menu li {
    width: 50%;
  }
}

@media (max-width: 630px) {
  .top-wr .country {
    padding-left: 60px;
    width: 60%;
  }

  .top-wr .country:after {
    right: 20px;
  }
}

@media (max-width: 500px) {
  .top-wr .part-w {
    padding-left: 20px;
  }

  .top-wr .sub-menu li {
    width: 100%;
  }

  .top-wr .main-title h1 {
    width: 320px;
    font-size: 30px;
    line-height: 33px;
    padding: 0 5px;
  }
}

.center-wr {
  background-color: #67b1de;
  background-position: top center;
  background-repeat: no-repeat;
}

.center-wr .center-content {
  width: 100%;
  max-width: 1024px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.center-wr .achieve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-box-pack: space-between;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding-bottom: 35px;
}

.center-wr .ach {
  width: 20%;
}

.center-wr .ach span {
  color: #0c4da1;
  font: bolder 70px centuryGothic, sans-serif;
}

.center-wr .ach div {
  color: #3a5579;
  font: 600 16px/23px lato-l, sans-serif;
  height: 97px;
  overflow-y: hidden;
}

.center-wr .ach p {
  margin: 0;
}

.center-wr .video-part {
  width: 100%;
  margin-bottom: 65px;
}

.center-wr .video {
  float: left;
  width: 48%;
  height: 0;
  padding-bottom: 27.25%;
  position: relative;
  overflow: hidden;
}

.center-wr .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center-wr .slogan-block {
  float: left;
  width: 45%;
  margin: 5% 0 0 6%;
}

.center-wr .slogan-block .title {
  font: 29px sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #0c4da1;
}

.center-wr .slogan {
  font: 26px/36px sans-serif;
  font-weight: 600;
  letter-spacing: -2px;
  color: #0c4da1;
  margin: 20px 0 0 0;
  height: 135px;
  overflow: hidden;
}

.center-wr h2 {
  font: 29px sans-serif;
  font-weight: 600;
  color: #0c4da1;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.center-wr .brand-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-box-pack: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.center-wr .block-slogan {
  width: 48%;
  height: 270px;
}

.center-wr .br-slogan {
  font: 26px/36px sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  color: #0c4da1;
  height: 180px;
  overflow: hidden;
}

.center-wr .brand-text {
  width: 490px;
  min-width: 320px;
  background-color: rgba(255,255,255,0.85);
  padding: 30px 30px 20px;
  margin: 0 0 30px 0;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.center-wr .brand-text .vent-br {
  margin-bottom: 10px;
  height: 50px;
}

.center-wr .description {
  font: 14px/22px sans-serif;
  font-weight: 400;
  color: #546b8a;
  padding: 10px 0 0 0;
  margin-bottom: 15px;
  height: 118px;
  overflow: hidden;
  box-sizing: border-box;
}

@media (max-width: 1100px) {
  .center-wr .slogan {
    font-size: 26px;
  }
}

@media (max-width: 960px) {
  .center-wr .ach {
    width: 45%;
  }

  .center-wr .achieve {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-box-pack: space-around;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .center-wr .brand-cont {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-box-pack: space-around;
  }
}

@media (max-width: 850px) {
  .center-wr .block-slogan {
    width: 80%;
    height: 160px;
  }

  .center-wr .slogan {
    font-size: 26px;
  }

  .center-wr .brand-text {
    width: 80%;
  }

  .center-wr .br-slogan {
    font-size: 26px;
  }
}

@media (max-width: 800px) {
  .center-wr .video {
    float: none;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 46.25%;
  }

  .center-wr .slogan-block {
    float: none;
    width: 80%;
    margin: 20px auto 0;
  }

  .center-wr .slogan,
  .center-wr .br-slogan {
    font-size: 26px;
    line-height: 35px;
  }

  .center-wr .video-part {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .center-wr .video-part {
    margin-bottom: 40px;
  }

  .center-wr .ach {
    width: 90%;
    text-align: center;
  }

  .center-wr .slogan,
  .center-wr .br-slogan {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .center-wr .block-slogan {
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .center-wr .block-slogan {
    height: 195px;
  }
}

@media (max-width: 1023px) {
  .center-wr {
    background-size: cover;
  }
}

.error-wr {
  background-color: #67b1de;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: -webkit-calc(100vh - 225px);
  min-height: calc(100vh - 225px);
}

.error-wr .bg-dots {
  background: url("../../img/paper.png") -100px 0 no-repeat,url("../../img/dot.png") repeat;
}

.error-wr .center {
  width: 100%;
  max-width: 1024px;
  min-height: -webkit-calc(100vh - 300px);
  min-height: calc(100vh - 300px);
  margin: 0 auto;
  position: relative;
}

.error-wr .center_block {
  width: 360px;
  height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -130px 0 0 -180px;
}

.error-wr .center img {
  width: 100%;
}

.error-wr .center p {
  text-transform: uppercase;
  color: #0c4da1;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.error-wr .center .button {
  position: absolute;
  bottom: 4px;
  right: -webkit-calc(50% - 85px);
  right: calc(50% - 85px);
  padding-left: 0;
  text-align: center;
}

.error-wr .center .button:after {
  right: 27px;
}

@media (max-width: 600px) {
  .error-wr .center_block {
    width: 250px;
    height: 220px;
    margin: -105px 0 0 -125px;
  }

  .error-wr .center_block P {
    font-size: 18px;
  }

  .error-wr .center_block .button {
    bottom: 10px;
    right: -webkit-calc(50% - 85px);
    right: calc(50% - 85px);
  }
}

.mp-info {
  padding: 18px 11px 18px;
}

.mp-info .mp-office {
  font: 18px segoe-semi, sans-serif;
  color: #000;
  margin-bottom: 17px;
}

.mp-info .mp-country {
  font: 12px segoe-semi, sans-serif;
  margin-bottom: 14px;
  background: url("../../img/icon/map1.png") 1px -3px no-repeat;
  padding-left: 27px;
}

.mp-info .mp-site,
.mp-info .mp-shop {
  font: 16px segoe-semi, sans-serif;
  background: url("../../img/icon/map2.png") 1px 2px no-repeat;
  margin-bottom: 7px;
  padding-left: 25px;
}

.mp-info .mp-site a,
.mp-info .mp-shop a {
  color: #0c4da1;
  text-decoration: none;
}

.mp-info .mp-site span,
.mp-info .mp-shop span {
  font: 12px segoe-semi, sans-serif;
  color: #afaeae;
  text-transform: uppercase;
}

.mp-info .mp-shop {
  background: url("../../img/icon/map3.png") 1px 4px no-repeat;
  margin-bottom: 0;
}

/*# sourceMappingURL=../maps/styles.css.map */