<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="geo.placename" content="Киев, Украина" />
    <meta name="geo.position" content="50.4501000;30.5234000" />
    <meta name="geo.region" content="UA-город Киев" />

	<title>Vents</title>

	<link rel="stylesheet" href="css/styles/main.min.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/png">

</head>
<body>
	<div class="header-wr">
		<header class="clearfix">
			<div class="logo">
				<a href="#"><img src="img/logo.png" alt="logo"></a>
			</div>
			<nav class="clearfix">
				<div class="fl">
					<div class="newMenu">
						<div class="menuBut">MENU</div>
						<ul class="menuSmall">
							<li><a href="#">news</a></li>
							<li><a href="#">brands</a></li>
							<li><a href="#">about us</a></li>
							<li><a href="#">contact us</a></li>
						</ul>
					</div>
					<ul class="menu">
						<li><a href="#">news</a></li>
						<li><a href="#brands">brands</a></li>
						<li><a href="#">about us</a></li>
						<li><a href="#">contact us</a></li>
					</ul>
				</div>
				<div class="select-wr">
					<div class="selected" style="background-image: url(img/eng.png)">ENG</div>
					<ul class="language">
						<li><a href="#" style="background-image: url(img/eng.png)">ENG</a></li>
						<li><a href="#" style="background-image: url(img/ukr.png)">UKR</a></li>
						<li><a href="#" style="background-image: url(img/rus.png)">RUS</a></li>
					</ul>
				</div>
				<form action="#" class="search-form">
					<input type="search" name="search" class="input-search" placeholder="Search...">
				</form>
			</nav>
			<div class="right_part"><div class="right_line"></div><div class="corner"> </div></div>
		</header>
	</div>
	<div class="top-wr">
		<div id="map"></div>
		<div class="top-content">
			<div class="main-title">
				<h1>Complete range of hi-tech energy-efficient ventilation equipment </h1>	
				<div class="magic-select">
					<div class="country clearfix">Choose a country</div>
					<div class="select-menu">
						<ul>
						 	<script type = "text/template" id = "menu">
						       <% for (var key in countries){ %>
						        <li class="part-w"><%=key%>
									<ul class="sub-menu clearfix">
										<% for (var i=0; i < countries[key].country1.length; i++){ %>
											<li><a href="#" style="background-image: url('<%=countries[key].flag1%>')"><%=countries[key].country1[i]%></a></li>
										<% }%>
									</ul>
								</li>
						       <% }%>
						      </script>
						</ul>
					</div>
				</div>
			</div>	
		</div>
	</div>
<div class="center-wr">
	<div class="center-content">
		<div class="achieve">
			<div class="ach">
				<span>7</span>
				<p>The ventilating equipment and accessories plants are located in Europe</p>
			</div>
			<div class="ach">
				<span>23</span>
				<p>Saleshouses in 15 countries all around the world</p>
			</div>
			<div class="ach">
				<span>25</span>
				<p>Years of experience in production of hi-tech energy-efficient ventilation equipment</p>
			</div>
			<div class="ach">
				<span>105</span>
				<p>Quantity of the countries in which our production is on sale</p>
			</div>
		</div>
		<div class="video-part clearfix">
			<div class="video"></div>
			<p class="slogan">A balanced  mix of innovative technology, contemporary design and quality</p>
		</div>
		<section class="clearfix">
			<h2 id="br-block">our brands:</h2>
			<div class="brand-cont">
			<div class="brand-text">
				<div><img src="img/blauberg.png" alt="ventilatoren"></div>
				<p class="description">The wide assortment of the ventilating equipment in which innovative technologies, modern design and the German quality are optimum combined.</p>
				<a href="#" class="button">Visit website</a>
			</div>
			<div class="brand-text">
				<div><img src="img/zern.png" alt="zern"></div>
				<p class="description">Offers the market recuperators lamellar counterflow and cross current, and also the entalpiyny and rotor regenerators differing in the increased efficiency.</p>
				<a href="#" class="button">Visit website</a>
			</div>
			<div class="brand-text">
				<div class="vent-br"><img src="img/vents.png" alt="vents"></div>
				<p class="description">Vents makes a full range of the equipment for systems of ventilation and conditioning of any level of complexity.</p>
				<a href="#" class="button">Visit website</a>
			</div>
			<div class="brand-text">
				<div><img src="img/bl-motor.png" alt="motoren"></div>
				<p class="description">Represents the most modern AC, DC and power effective EC motors. The wide range allows to choose motors for the most various configurations of ventilations.</p>
				<a href="#" class="button">Visit website</a>
			</div>
			</div>
		</section>
	</div>
</div>
<footer>
	<div class="footer-wr clearfix">
		<div class="footer-left">
			<nav>
				<ul class="menu">
					<li><a href="#">contact us</a></li>
					<li><a href="#">privacy policy</a></li>
					<li><a href="#">license agreement</a></li>
					<li><a href="#">site map</a></li>
					<li><a href="#">certificates</a></li>
				</ul>
			</nav>
		</div>
		<div class="footer-right clearfix">
			<div><img src="img/blauberg-wh.png" alt="ventilatoren"></div>
			<div><img src="img/zern-wh.png" alt="zern"></div>
			<div><img src="img/vents-wh.png" alt="vents"></div>
			<div><img src="img/motor-wh.png" alt="motoren"></div>
		</div>
		<div class="copyright">&copy;2016 Blauberg Group</div>
	</div>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_I_kCIed68Pwk1sykAyQhCI_dWHYkd5c"></script>
<script type="text/javascript" src="js/all.js"></script>
<script src = 'js/map/map.js'></script>
<!-- <script type="text/javascript" src="js/template.js"></script> -->

</body>
</html>

