html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "latolight";
  src: url("../../fonts/lato-light.eot");
  src: url("../../fonts/lato-light.eot?#iefix") format("embedded-opentype"),url("../../fonts/lato-light.woff") format("woff"),url("../../fonts/lato-light.ttf") format("truetype"),url("../../fonts/lato-light.svg#latolight") format("svg");
}

latolight {
  font-family: "latolight","sans-serif";
}

header {
  max-width: 1024px;
  margin: 0 auto;
}

header .logo {
  width: 173px;
  height: 77px;
  float: left;
  box-shadow: 0px 1px 0px 0px #bdbcbc;
}

header nav {
  background-color: #e7e7e7;
  padding: 23px 0 23px 0;
  float: left;
  position: relative;
  box-shadow: 0px 1px 0px 0px #bdbcbc;
}

header nav:after {
  content: '';
  width: 14px;
  height: 77px;
  display: block;
  background-image: url("sprite.png");
    background-position: -0px -29px;
    background-size: 14px 106px!important;
  position: absolute;
  top: 0;
  left: 100%;
}

header .menu {
  width: 400px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-box-pack: space-between;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

header .menu a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font: 13px/31px segoe-semi, sans-serif;
}

header .search-form {
  float: left;
  margin-left: 20px;
  position: relative;
}

header .search-form:after {
  content: '';
  width: 13px;
  height: 13px;
  display: block;
  background-image: url("sprite.png");
    background-position: -0px -16px;
    background-size: 14px 106px!important;
  position: absolute;
  top: 8px;
  right: 17px;
  cursor: pointer;
}

header .input-search {
  width: 200px;
  height: 30px;
  border: 1px solid #b1d9ff;
}

header .select-wr {
  width: 100px;
  height: 27px;
  float: left;
  border-left: 1px solid #b1d9ff;
  margin-left: 20px;
  position: relative;
  font: 13px/27px segoe-semi, sans-serif;
}

header .selected {
  position: relative;
  background-position: 15px;
  background-repeat: no-repeat;
  padding-left: 50px;
}

header .selected:after {
  position: absolute;
  display: block;
  width: 8px;
  height: 6px;
  content: '';
  background-image: url("sprite.png");
    background-position: -0px -0px;
    background-size: 14px 106px!important;
  top: 50%;
  margin-top: -3px;
  left: 90px;
}

header .language {
  display: none;
  width: 100px;
  background-color: #e7e7e7;
  border: none;
  border-top: 1px solid #b1d9ff;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 5;
}

header .language a {
  text-decoration: none;
  color: #000;
  padding: 0 0 0 50px;
  background-position: 15px;
  background-repeat: no-repeat;
}

header .language .active a {
  text-decoration: underline;
}

footer {
  background-color: #67b1de;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer-wr {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 0;
}

footer .footer-left {
  width: 60%;
  float: left;
}

footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-box-pack: space-between;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

footer .menu a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font: 11px segoe-semi, sans-serif;
}

footer .footer-right {
  width: 28%;
  float: right;
}

footer .footer-right div {
  float: left;
  margin: 0 0 40px 40px;
}

footer .copyright {
  color: #c4c6c8;
  font: 11px segoe-semi, sans-serif;
  margin-top: 65px;
}

.title a {
  text-decoration: none;
}

.desc a {
  text-decoration: none;
}

.news-wr-top {
  background: #e8edef;
  background: -webkit-linear-gradient(45deg, #e8edef 0%, #cde4ee 100%);
  background: linear-gradient(45deg, #e8edef 0%, #cde4ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8edef', endColorstr='#cde4ee', GradientType=1 );
  padding: 20px 0;
}

.news-wr-top section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

.news-wr-top section h2 {
  font: bold 24px segoe-semi, sans-serif;
  color: #0c4da1;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  float: left;
}

.news-wr-top section .all {
  text-align: right;
  float: right;
}

.news-wr-top section .all a {
  color: #0c4da1;
  text-decoration: none;
  border-bottom: 1px dashed #0c4da1;
  margin-left: 20px;
}

.news-wr-top section .main-news {
  clear: both;
  float: left;
  width: 60%;
  height: 428px;
  min-width: 320px;
}

.news-wr-top section .main-news figure {
  position: relative;
}

.news-wr-top section .main-news figure img {
  width: 100%;
  height: 100%;
}

.news-wr-top section .main-news figure figcaption {
  font-family: segoe-semi, sans-serif;
  padding: 0 20px 30px 30px;
  position: absolute;
  bottom: 0;
}

.news-wr-top section .main-news figure figcaption .date {
  color: #fff;
  font-size: 12px;
}

.news-wr-top section .main-news figure figcaption .title {
  padding: 20px 0;
}

.news-wr-top section .main-news figure figcaption .title a {
  text-decoration: none;
  color: #69cef5;
  font-size: 24px;
}

.news-wr-top section .main-news figure figcaption .desc {
  color: #fff;
  font-size: 14px;
}

.news-wr-top section .two-news {
  float: left;
  width: 36%;
  height: 420px;
  margin-left: 4%;
  border-top: 4px solid #69cef5;
  border-bottom: 4px solid #69cef5;
}

.news-wr-top section .two-news .news-block {
  height: 50%;
  min-width: 280px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #69cef5;
  padding: 20px 0 25px 0;
}

.news-wr-top section .two-news .news-block img {
  display: block;
  width: 33%;
  height: 87px;
  float: left;
  margin: 0 4% 4% 0;
}

.news-wr-top section .two-news .news-block p {
  float: left;
}

.news-wr-top section .two-news .news-block:last-child {
  border-bottom: none;
}

.news-wr-top section .two-news .date {
  color: #869094;
  font-size: 10px;
}

.news-wr-top section .two-news .title {
  padding: 20px 0;
  width: 62%;
}

.news-wr-top section .two-news .title a {
  color: #0c4da1;
  font-size: 16px;
}

.news-wr-top section .two-news .desc {
  width: 100%;
  color: #000;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
}

.news-wr-center {
  background-color: #fff;
}

.news-wr-center .news-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-box-pack: space-around;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.news-wr-center .news-container .news {
  width: 29%;
  height: 330px;
  margin-bottom: 30px;
  min-width: 270px;
}

.news-wr-center .news-container .news figure {
  position: relative;
}

.news-wr-center .news-container .news figure img {
  width: 100%;
  height: 100%;
  min-height: 205px;
}

.news-wr-center .news-container .news figure figcaption {
  font-family: segoe-semi, sans-serif;
  padding: 0 15px 15px 15px;
  position: absolute;
  bottom: 0;
}

.news-wr-center .news-container .news figure figcaption .date {
  color: #fff;
  font-size: 14px;
}

.news-wr-center .news-container .news figure figcaption .title {
  padding: 5px 0 0 0;
}

.news-wr-center .news-container .news figure figcaption .title a {
  color: #69cef5;
  font-size: 17px;
}

.news-wr-center .news-container .news .desc {
  padding: 20px;
  color: #000;
  font-size: 14px;
  overflow: hidden;
  background-color: #e8edef;
}

.news-part1 {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 0;
}

.news-part1 .news-img {
  float: left;
  width: 60%;
  height: 368px;
  max-width: 557px;
}

.news-part1 .news-body {
  float: left;
  padding: 50px 35px 0;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  height: 368px;
}

.news-part1 .news-body .date {
  color: #869094;
  font-size: 16px;
}

.news-part1 .news-body .title {
  padding: 20px 0;
  width: 100%;
}

.news-part1 .news-body .title a {
  color: #0c4da1;
  font-size: 32px;
}

.news-part1 .news-body .desc {
  width: 100%;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  height: 150px;
  overflow: hidden;
}

.news-body-center {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0 60px 0;
}

.news-body-center .left-part {
  float: left;
  width: 60%;
  margin-right: 5%;
  font: 15px/21px segoe-semi, sans-serif;
}

.news-body-center .left-part .annotation {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.news-body-center .left-part .blue-bord {
  float: left;
  border-top: 4px solid #69cef5;
  border-bottom: 4px solid #69cef5;
  padding: 25px 10px;
  margin: 40px 0 0;
  font: bold 16px/21px segoe-semi, sans-serif;
  color: #0c4da1;
}

.news-body-center .left-part .annotation-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.news-body-center .left-part .annotation-img .blue-bord {
  float: left;
  width: 56%;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.news-body-center .left-part .annotation-img .img1 {
  margin: 20px 20px 20px 0;
  float: left;
  width: 40%;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.news-body-center .left-part .annotation-img .img1 img {
  width: 100%;
}

.news-body-center .left-part .img2 {
  float: right;
  width: 40%;
  margin: 20px 0 20px 20px;
}

.news-body-center .left-part .img2 img {
  width: 100%;
}

.news-body-center .left-part figcaption {
  color: #acacac;
  font-size: 13px;
  padding-top: 15px;
}

.news-body-center .left-part .news-slider {
  width: 100%;
  margin-bottom: 20px;
}

.news-body-center .left-part .news-slider h2 {
  color: #0c4da1;
  font: 15px segoe-semi, sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.news-body-center .left-part .sl-big {
  width: 70%;
  height: 300px;
  border: 1px solid #000;
  float: left;
}

.news-body-center .left-part .sl-big img {
  width: 100%;
  height: 100%;
}

.news-body-center .left-part .social {
  width: 100%;
  height: 45px;
  background-color: #e8edef;
  text-transform: uppercase;
  color: #0c4da1;
  line-height: 45px;
  font-size: 12px;
  padding-left: 20px;
}

.news-body-center .left-part .social img {
  margin-left: 25px;
}

.news-body-center .right-part {
  float: left;
  width: 325px;
  overflow: hidden;
  position: relative;
}

.news-body-center .right-part p {
  font: 15px segoe-semi, sans-serif;
  color: #0c4da1;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.news-body-center .right-part figure {
  position: relative;
}

.news-body-center .right-part figure img {
  width: 100%;
  max-height: 200px;
}

.news-body-center .right-part figure figcaption {
  font-family: segoe-semi, sans-serif;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
}

.news-body-center .right-part figure figcaption .date {
  color: #fff;
  font-size: 14px;
}

.news-body-center .right-part figure figcaption .title a {
  text-decoration: none;
  color: #69cef5;
  font-size: 17px;
}

.news-body-center .right-part .desc {
  padding: 20px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  background-color: #e8edef;
  margin-top: -3px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.header-wr {
  background-color: #67b1de;
  padding-top: 35px;
}

body {
  font-family: segoe-semi, sans-serif;
}

.fl {
  float: left;
}

.gm-style-iw div {
  overflow: hidden !important;
}

a {
  cursor: pointer;
}

.top-wr {
  padding-top: 15px;
  background-color: #67b1de;
}

.top-wr #map {
  min-height: 550px;
  width: 100%;
  background-color: #67b1de !important;
}

.top-wr .main-title {
  margin-top: -415px;
  position: relative;
  z-index: 10;
}

.top-wr .top-content {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 200px;
}

.top-wr h1 {
  width: 490px;
  font: 39px/46px lato, sans-serif;
  color: #fff;
}

.top-wr .select-wr2 {
  width: 377px;
  height: 58px;
  overflow: hidden;
}

.top-wr .magic-select {
  position: relative;
  font: 13px/18px segoe-semi, sans-serif;
  text-transform: uppercase;
}

.top-wr .country {
  width: 335px;
  height: 18px;
  background-color: #fff;
  font: 13px/18px segoe-semi, sans-serif;
  text-transform: uppercase;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  background-position: 20px;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.top-wr .country:after {
  position: absolute;
  display: block;
  width: 8px;
  height: 6px;
  content: '';
  background-image: url("sprite.png");
    background-position: -0px -0px;
    background-size: 14px 106px!important;
  top: 25px;
  left: 350px;
}

.top-wr .select-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.top-wr .part-w {
  list-style: none;
  width: 300px;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
  text-decoration: none;
  background-color: #e4f2ff;
}

.top-wr .active {
  background-color: #fff;
}

.top-wr .sub-menu {
  width: 700px;
  min-height: 250px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 320px;
  display: none;
}

.top-wr .sub-menu li {
  float: left;
  width: 140px;
}

.top-wr .sub-menu li a {
  text-decoration: none;
  color: #000;
  background-position: 20px;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.center-wr {
  background-color: #67b1de;
}

.center-wr .center-content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 140px;
}

.center-wr .achieve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-box-pack: space-between;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding-bottom: 35px;
}

.center-wr .ach {
  width: 20%;
}

.center-wr .ach span {
  color: #0c4da1;
  font: 70px segoe-semi, sans-serif;
}

.center-wr .ach p {
  color: #3a5579;
  font: 15px/23px segoe-semi, sans-serif;
}

.center-wr .video-part {
  width: 100%;
  margin-bottom: 65px;
}

.center-wr .video {
  float: left;
  width: 50%;
  height: 0;
  padding-bottom: 27.25%;
  position: relative;
  overflow: hidden;
}

.center-wr .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center-wr .slogan {
  float: left;
  width: 45%;
  font: 35px/45px lato, sans-serif;
  color: #0c4da1;
  margin: 6% 0 0 4%;
}

.center-wr h2 {
  font: 24px lato, sans-serif;
  color: #0c4da1;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.center-wr .brand-text {
  width: 39%;
  height: 190px;
  background-color: #fff;
  opacity: 0.8;
  padding: 4%;
  float: left;
  margin: 0 3% 3% 0;
}

.center-wr .brand-text .vent-br {
  margin-bottom: 10px;
}

.center-wr .description {
  font: bold 16px/27px latolight, sans-serif;
  color: #3a5579;
  padding: 20px 0 15px 0;
  height: 90px;
  overflow: hidden;
}

.center-wr .button {
  display: block;
  font: 12px/35px segoe-semi, sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #0c4da1;
  width: 130px;
  height: 35px;
  padding-left: 22px;
  position: relative;
}

.center-wr .button:after {
  position: absolute;
  display: block;
  content: '';
  width: 5px;
  height: 10px;
  top: 50%;
  left: 110px;
  background-image: url("sprite.png");
    background-position: -0px -6px;
    background-size: 14px 106px!important;
  margin-top: -5px;
}

.center-wr .button:hover {
  color: #92aee1;
}

/*# sourceMappingURL=../maps/styles.css.map */