@mixin flexbox()
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flexbox;  //2011 hybrid syntax
    // display: box;      //2009 syntax
}
@mixin flex-justify-content($spaceflex)
{
    -webkit-justify-content: $spaceflex;
    -moz-justify-content: $spaceflex;
    -ms-justify-content: $spaceflex;
    justify-content: $spaceflex;
    
    -ms-box-pack: $spaceflex;  //2011 hybrid syntax - use start instead of flex-start
}

@mixin box-sizing($sizing: border-box)
{
    -ms-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    -webkit-box-sizing: $sizing;
    box-sizing: $sizing;
}
@mixin size($width, $height)
{
    width: $width;
    height: $height;
}
@mixin input($width, $height){
    outline: 0;
    @include size($width, $height);;
    line-height: $height;
    @include box-sizing();
}
@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}
@mixin font-face($path, $style-name, $file, $family, $category:"") {
    $filepath: $path + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url("#{$filepath}.eot");
        src: url("#{$filepath}.eot?#iefix") format('embedded-opentype'),
            url("#{$filepath}.woff") format('woff'),
            url("#{$filepath}.ttf")  format('truetype'),
            url("#{$filepath}.svg##{$style-name}") format('svg');
    }
    #{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", "#{$category}";
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

//HOW WE CAN USE THIS MIXIN
/*
    @include font-face( 
        'path to the folder "fonts"',
        'font-family',
        'file name of font without extension',
        'folder name with separate font inside folder "fonts"',
        'general font family, for example 'sans-serif'
    );
*/