.about-wr {
  background-color: #b1d5e9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  .about-content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 60px 10px 0;
    box-sizing: border-box;
    .info {
      padding-bottom: 90px;
    }
    .about-sl {
      width:50%;
      min-width: 500px;
      float: left;
      font: bold 38px/45px segoe-semi, sans-serif;
      color: $blue;
    }
    .prod, .staff {
      width: 20%;
      min-width:200px;
      margin-left: 2%;
      float: right;
      font: 16px segoe-semi, sans-serif;
      color: #3a5579;
      span {
        font: bold 48px segoe-semi, sans-serif;
        color: $blue;
        display: block;
      }
    }
    section{
      @include flexbox();
      @include flex-justify-content(space-around);
      flex-flow: row wrap;
      h2 {
        width: 100%;
        font: bold 22px segoe-semi, sans-serif;
        color: $blue;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      .products {
        @include size(30%, 200px);
        min-width: 290px;
        text-align: center;
        position: relative;
        margin-bottom: 25px;
        .products-under{
          position: absolute;
          top:0;
          left:0;
          display: none;
        }
        .transp {
          opacity:0.9;
          @include size(100%, 200px);
          background-color:#fff;
          position:absolute;
          top:0;
          left:0;
          transition: background-color 1s;
        }
        figure {
          position: relative;
          z-index: 5;
          padding: 25px 0 20px;

          figcaption {
            font: 17px segoe-semi, sans-serif;
            color: $blue;
            text-transform: uppercase;
            padding: 30px 10px 10px;
          }
        }
        &:hover {
          .transp{
            background-color: $blue;
          }

          figcaption {
            color: #fff;
          }
        }
      }
      .big-text {
        figcaption {
          font-size: 14px!important;
          text-transform: none!important;
          padding-top: 15px!important;
        }
      }
    }
    @media (max-width: 550px) {
      .about-sl {
        width:100%;
        min-width: 300px;
        float: left;
        font: bold 35px/42px segoe-semi, sans-serif;
        color: $blue;
      }
      .prod, .staff {
        float: left;
        margin: 10px 0;
      }
      .info {
        padding-bottom: 50px;
      }
    }
  }
}