.contact-wr {
  min-height: 570px;
  padding-top: 30px;
  .shadow {
    @include size(100%, 600px);
    background: url("../../img/shadow2.png") center no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
  }
  .content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    .contact {
      @include size(50%, 350px);
      background-color: #fff;
      position: relative;
      z-index: 4;
      margin-top:70px;
      margin-left: 50px;
      padding: 10px 10px 50px 10px;
      color: #292929;
      @include box-sizing();
      .title {
        font: bold 24px segoe-semi, sans-serif;
        color: $blue;
      }
      .branch {
        p {
          @include size(48%, 100px);
          font-size: 14px;
          float: left;
          margin: 20px 2% 0 0;
          span {
            font-size: 20px;
            font-weight: bold;
            display: block;
            padding: 13px 0 0 30px;
            &:first-child {
              background: url(../../img/icon/phone2.png) 2px 8px no-repeat;
            }
          }
          .free {
            font-size: 13px;
            color:#868686;
            padding-top: 3px;
          }
        }
        .pd {
          padding-top: 20px;
          background-position: 2px 15px!important;
        }
        @media (max-width: 960px){
          p span {
            font-size: 16px;
          }
        }
        @media (max-width: 800px){
            p {
              width: 100%;
              height: 85px;
              margin: 10px 0 0 0;
              span {
                font-size: 16px;
              }
            }
            .export, .cadr {
              height: 50px;
            }
        }
      }
      .adr {
        background: url(../../img/icon/loc.png) 2px 0 no-repeat;
        padding-left: 30px;
      }
      .email {
        background: url(../../img/icon/loc.png) 2px 0 no-repeat;
        padding-left: 30px;
      }
    }
    .left-part{
      position: absolute;
      @include size(16px, 100%);
      top:0;
      left: 0;
      margin-left: -16px;
    }
    .right-part{
      position: absolute;
      @include size(16px, 100%);
      top:0;
      right: 0;
      margin-right: -16px;
    }
    .line {
      width: 100%;
      height: calc(100% - 16px);
      background-color: #fff;
    }
    .left-corner {
      width: 0;
      height:0;
      border-bottom: 16px solid #fff;
      border-left: 16px solid transparent;
    }
    .right-corner {
      width: 0;
      height:0;
      border-top: 16px solid #fff;
      border-right: 16px solid transparent;
    }
    @media (max-width: 800px){
      .contact{
        height: 400px;
      }
    }
    @media (max-width: 500px){
      .contact{
        width: 70%;
      }
    }
  }
}
.form-wr {
  padding: 40px 0 90px;
  background: rgba(99,193,236,1);
  background: linear-gradient(135deg, rgba(99,193,236,1) 0%, rgba(123,210,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63c1ec', endColorstr='#7bd2f5', GradientType=1 );
  .form {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    form {
      margin-left: 10%;
    }
    p{
      font: bold 24px segoe-semi, sans-serif;
      text-transform: uppercase;
      color: $blue;
    }
    input[type ='text'] {
      @include size(40%, 40px);
      @include box-sizing();
      float:left;
      border: none;
      margin: 25px 60px 25px 0;
      padding-left: 40px;
      background: #fff url('../../img/icon/man.png') 5px center no-repeat;
    }
    .email {
      background-image: url('../../img/icon/mail.png')!important;
    }
    .phone {
      background-image: url('../../img/icon/phone.png')!important;
      margin-right: 0!important;
    }
    .select-style {
      padding: 0;
      margin:  25px 0 25px 0;
      float: left;
      border: none;
      @include size(40%, 40px);
      overflow: hidden;
      background: #fff url('../../img/icon/mail.png') 5px center no-repeat;

      select {
        padding: 0 40px;
        @include size(100%, 40px);
        line-height: 40px;
        border: none;
        background-color: transparent;
        background-image: none;
        appearance: none;
        &:focus {
          outline: none;
        }
      }
    }
    .tarea {
      width: 84%;
      float: left;
      margin: 25px 0;
      padding: 10px;
    }
    .submit {
      @include size(150px, 35px);
      font: 12px/35px segoe-semi, sans-serif;
      color: #fff;
      text-transform: uppercase;
      background-color: $blue;
      position: relative;
      border: none;
      margin-top: 20px;
      &:after{
        position: absolute;
        display: block;
        content: '';
        @include size(5px, 10px);
        top: 50%;
        right: 20px;
        background-image: url(../../img/pointer2.png);
        margin-top: -5px;
      }
      &:hover {
        color: #92aee1;
      }
    }
    @media (max-width: 800px){
        input[type ='text']{
          width: 80%;
        }
      .select-style {
        width: 80%;
      }
      .tarea {
        width: 77%;
      }
    }
  }
}