@import '_mixins';
@import '_variables';

footer {
	position: relative;
	background-color: $bgcolor;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
	.footer-wr {
		width: 100%;
		max-width: 1024px;
		@include box-sizing();
		margin: 0 auto;
		padding: 40px 10px 10px;
	}
	.footer-left {
		width: 60%;
		float: left;
	}
	.menu {
		@include flexbox();
    	@include flex-justify-content(space-between);
		flex-flow: row nowrap;
		a {
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
			font: 11px segoe-semi, sans-serif;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.footer-right {
		width: 265px;
		float: right;
		div {
			float: left;
			margin: 0 0 40px 40px;
		}
	}
	.copyright {
		float: left;
		color: #c4c6c8;
		font: 11px segoe-semi, sans-serif;
		width: 100%;
		margin-top: 20px;
	}
	@media (max-width:960px){
		.footer-left{
			margin-left: 40px;
			width: 30%;
		}
		.footer-left .menu{
			flex-direction: column;
		}
		li{
			margin-bottom: 20px;
		}
		.footer-right{
			float: left;
		}
	}
	@media (max-width:600px){
		.footer-left{
			margin-left: 20px;
			width: 50%
		}
		.footer-right{
			float: right;
			width: 160px;
			div {
				margin: 0 30px 40px 0;
			}
		}
	}
	@media (max-width:440px){
		.footer-left, .footer-right{
			float: none;
			margin: 0 auto;
			width: 90%;
			text-align: center;
		}
		.footer-left{
			a {
				font-size: 14px;
			}
		}
		.footer-right {
			margin-top: 20px;
			width: 60%;
			padding-top: 20px;
			border-top: 1px solid #fff;
			div {
				float: none;
				margin: 0 0 20px 0;
			}
		}
	}
}