@import '_mixins';
@import '_variables';

header {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;

	.logo {
		@include size(173px, 77px);
		float: left;
		position: relative;
	}
	nav {
		width: calc(100% - 188px);
		background-color: #e7e7e7;
		padding:23px 0 23px 0; 
		float: left;
		position: relative;
	}
	.newMenu {
		position: relative;
		width: 100px;
		margin: 0 auto;
		display: none;
	}
	.fl {
		float: left;
		width: calc(100% - 281px);
		position: relative;
	}
	.right_part {
		@include size(15px, 77px);
		float: right;
		position: relative;
	}
	.corner {
		float: left;
		width: 0;
		height: 0;
		border-top: 15px solid #e7e7e7;
		border-right: 15px solid transparent;
	}
	.right_line {
		@include size(100%, 62px);
		background-color: #e7e7e7;
	}
	.menu {
		width: 100%;
		@include flexbox();
    	@include flex-justify-content(space-around);
		flex-flow: row nowrap;
		a {
			text-decoration: none;
			color: #000;
			text-transform: uppercase;
			font: 13px/31px segoe-semi, sans-serif;
			&:hover {
				color: $blue;
			}
		}
	}
	.menuSmall {
		width: 100%;
		@include flexbox();
		flex-direction: column;
		display: none;
		position: absolute;
		left: 0;
		top:0;
		text-align: center;
		z-index: 2;
		li {
			background-color: #e7e7e7;
			border: 1px solid #b1d9ff;
			border-bottom: none;
			&:last-child {
				border-bottom: 1px solid #b1d9ff;
			}
			&:hover {
				background-color: #d1d0d0;
			}
		}
		//@include flexbox();
		//@include flex-justify-content(space-around);
		//flex-flow: row nowrap;
		a {
			text-decoration: none;
			color: #000;
			text-transform: uppercase;
			font: 13px/31px segoe-semi, sans-serif;
		}
	}
	.menuBut {
		@include size(100px, 31px);
		background-color: #69cef5;
		border-radius: 1px;
		color: #000;
		line-height: 31px;
		text-align: center;
		margin: 0 auto;
	}
	.search-form {
		float: right;
		position: relative;
		@include size(160px, 30px);
		&:after {
			content: '';
			@include size(13px, 13px);
			display: block;
			background-image: url(../../img/search.png);
			position: absolute;
			top: 8px;
			right: 17px;
			cursor: pointer;
		}
	}
	.input-search {
		border: 1px solid #b1d9ff;
		@include size(100%, 100%);
	}
	.select-wr {
		@include size(100px, 27px);
		float: right;
		border-left: 1px solid #b1d9ff;
		margin-left: 20px;
		position: relative;
		font: 13px/27px segoe-semi, sans-serif;
	}
	.selected {
		position: relative;
		background-position: 15px;
		background-repeat: no-repeat;
		padding-left: 50px;
		&:after{
			position: absolute;
			display: block;
			@include size(8px, 6px);
			content: '';
			background-image: url(../../img/pointer.png);
			top: 50%;
			margin-top: -3px;
			left: 90px;
		}
	}
	.language {
		display: none;
		width: 100px;
		background-color: #e7e7e7;
		border: none;
		border-top: 1px solid #b1d9ff;
		position: absolute;
		top: 25px;
		left: 0;
		z-index: 5;
		a {
			text-decoration: none;
			color: #000;
			padding: 0 0 0 50px;
			background-position: 15px;
			background-repeat: no-repeat;
			&:hover {
				color: $blue;
			}
		}
		.active a{
			text-decoration: underline;
		}
		li:last-child {
			padding-bottom: 10px;
		}
	}
	@media (max-width:800px) {
		.newMenu {
			display: block;
		}
		.menu {
			display: none;
		}
	}
	@media (max-width:625px) {
		.search-form{
			width: 40%;
		}
		.select-wr {
			margin-left: 0;
		}
		.fl {
			width: calc(60% - 121px);
		}
	}
	@media (max-width:590px) {
		.search-form{
			width: 35%;
		}
		.fl {
			width: calc(65% - 121px);
		}
	}
	@media (max-width:575px) {
		.search-form{
			display: none;
		}
		.fl {
			width: calc(100% - 101px);
		}
	}
	@media (max-width:439px) {
		.menuBut {
			width: 48px;
			background: url("../../img/menu.png") center no-repeat;
			color: transparent;
		}
	}
}