@import '_mixins';
@import '_variables';

.title a {
	text-decoration: none;
}
.desc a {
	text-decoration: none;
}
.news-wr-top {
	background: rgba(232,237,239,1);
	background: linear-gradient(45deg, rgba(232,237,239,1) 0%, rgba(205,228,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8edef', endColorstr='#cde4ee', GradientType=1 );
	
	padding: 20px 0;

	section {
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		padding-top: 30px;
		display: flex;
		flex-flow: row wrap;	
		justify-content: space-around;
		align-items:stretch;
		align-content: stretch;
		padding-bottom: 30px;
		.big-title {
			width: 100%;
		}
		h2 {
			font: bold 24px segoe-semi, sans-serif; 
    		color: $blue;
    		text-transform: uppercase;
    		float: left;
		}
		.all {
			text-align: right;
			float: right;
			a {
				color: $blue;
				text-decoration: none;
				border-bottom: 1px dashed $blue;
				margin-left: 20px; 
			}
		}
		.last-news {
			flex-basis: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items:stretch;
			align-content: stretch;
			//max-height: 425px;
		}
		.main-news {
			flex-basis: 55%;
			flex-shrink: 2;
			background: url(../../img/news/photo1.jpg) center no-repeat;
			background-size: cover;
			min-height: 300px;
			position: relative;
			margin-top: 20px;
		}
		.caption {
			padding: 0 20px 30px 30px;
			position: absolute;
			bottom: 0;

			.date {
				color: $date_news;
				font-size: 12px;
			}
			.title {
				padding: 20px 0;
				a {
					text-decoration: none;
					color: $title_news;
					font-size: 24px;
				}
      
			}
			.desc {
				color: $desc;
				font-size: 14px;
			}
		}
		.two-news {
			flex-basis: 40%;
			display: flex;
			flex-flow: column nowrap;
			align-items:stretch;
			align-content: stretch;
			border-top: 4px solid $news_line;
			border-bottom: 4px solid $news_line;
			margin: 20px 0 0 10px;
		}
		.news {
			min-width: 300px;
			//min-height: 210px;
			flex-basis: 50%;
			padding: 28px 0 25px 0;
			border-bottom: 1px solid $news_line;
			&:last-child {
				border-bottom: none;
			}
			img {
				display: block;
				@include size(33%, 87px);
				float: left;
				margin: 0 4% 4% 0;
			}
			p {
				float: left;
			}
			.date {
					color: #869094;
					font-size: 10px;
				}
			.title {
				padding: 20px 0;
				width: 62%;
				a {
					color: $blue;
					font-size: 16px;
				}
			}
			.desc {
				width: 100%;
				color: #000;
				font-size: 14px;
				height: 43px;
				overflow: hidden;
			}
		}


	}
}
.news-wr-center {
	background-color: #fff;
	.news-container {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		padding: 40px 0 50px 0;
		@include flexbox();
    	@include flex-justify-content(space-around);
    	flex-flow: row wrap;
		.news {
			@include size(29%, 330px);
			margin-bottom: 30px;
			min-width: 270px;

			figure {
					position: relative;
				img {
					@include size(100%, 100%);
					min-height: 205px;
				}
				
				figcaption {
					font-family: segoe-semi, sans-serif; 
					padding: 0 15px 15px 15px;
					position: absolute;
					bottom: 0;
					.date {
						color: $date_news;
						font-size: 14px; 
					}
					.title {
						padding: 5px 0 0 0; 
						a{
							color: $title_news;
							font-size: 17px;
						}
					}
				}
			}
			.desc {
				padding: 20px;
				color: #000;
				font-size: 14px; 
				overflow: hidden;
				background-color: #e8edef;
			}
		}
	}
}
.news-part1 {
	flex-basis: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items:stretch;
	align-content: stretch;
	max-width:1024px;
	margin:0 auto;
	padding: 40px 0;
	.news-img{
		flex-basis: 55%;
		flex-shrink: 2;
		min-height: 300px;
		position: relative;

	}
	.news-body {
		flex-basis: 40%;
		align-items:stretch;
		align-content: stretch;
		margin-top: 20px;
		@include box-sizing();
				.date {
					color: #869094;
					font-size: 16px; 
				}
				.title {
					padding: 20px 0;
					width: 100%;
					a {
						color: $blue;
						font-size: 32px;
					}
				}
				.desc {
					width: 100%;
					color: #000;
					font-size: 16px; 
					line-height: 25px;
					height: 150px;
					overflow: hidden;
				}
	}

}
.news-body-center {
	width:100%;
	max-width:1024px;
	margin: 0 auto;
	padding: 50px 0 60px 0;
	.left-part {
		float: left;
		width: 60%;
		margin-right: 5%;
		font: 15px/21px segoe-semi, sans-serif;
		.annotation{
			width: 100%;
			position: relative;
			overflow: hidden;
		}
		.blue-bord {
			float: left;
			border-top: 4px solid $news_line;
			border-bottom: 4px solid $news_line;
			padding:25px 10px;
			margin: 40px 0 20px;
			font: bold 16px/21px segoe-semi, sans-serif;
			color: $blue;
		}
		.annotation-img{
			width: 100%;
			position: relative;
			overflow: hidden;
			.blue-bord {
				float: left;
				width: 56%;
				@include box-sizing();
			}
			.img1 {
				margin: 20px 20px 20px 0; 
				float: left;
				width: 40%;
				@include box-sizing();
				img {
				width: 100%;
				}
			}
		}
		.img2{
			float: right;
			width: 40%;
			margin: 20px 0 10px 20px;
			img {
				width: 100%;
			}
		}

		figcaption {
			color: #acacac;
			font-size:13px;
			padding-top:7px;
		}

		.news-slider {
			width: 100%;
			margin: 20px 0;
			h2 {
				color: $blue;
				font:15px segoe-semi, sans-serif;
				text-transform: uppercase;
				margin-bottom: 30px;
			}
		}
		.sl-big {
			width: 70%;
			height: 300px;
			border: 1px solid #000;
			float: left;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.social {
			@include size(100%, 45px);
			background-color: #e8edef;
			text-transform: uppercase;
			color: $blue;
			line-height: 45px;
			font-size: 12px;
			padding-left: 20px;
			img {
				margin-left: 25px;
			}
		}
	}
	.right-part {
		float: left;
		width: 325px;
		overflow: hidden;
		position: relative; //для слайдера новостей
		.carousel-container{
			width:325px;
			margin: 0 auto;
		}
		p{
			font: 15px segoe-semi, sans-serif;
			color: $blue;
			text-transform: uppercase;
		}
		figure {
				position: relative;
			img {
				width: 100%;
				max-height: 200px;
			}
			
			figcaption {
				z-index: 5;
				font-family: segoe-semi, sans-serif; 
				padding: 10px 20px;
				position: absolute;
				bottom: 0;
				.date {
					color: $date_news;
					font-size: 14px;
					margin: 0 0 10px 0; 
				}
				.title {
					a {
						text-decoration: none;
						color: $title_news;
						font-size: 17px;
					}
				}
			}
			&:after {
				@include size(100%, 100%);
				display: block;
				content: '';
				position: absolute;
				top:0;
				left: 0;
				background-image: url(../../img/shadow.png);
			}
		}
		.desc {
			padding: 20px;
			color: #000;
			font-size: 14px; 
			line-height: 18px;
			overflow: hidden;
			background-color: #e8edef;
			margin-top: -3px;
		}
	}
	@media (max-width: 960px) {

	}
}


