.confid-wr {
	background: rgba(232,237,239,1);
	background: linear-gradient(to bottom, rgba(205,228,238,1) 0%, rgba(232,237,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde4ee', endColorstr='#e8edef', GradientType=0 );
	.inner{
		background-image: url('../../img/dot.png');
		background-repeat: repeat;
		padding-top: 30px;
	}
	.neck {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
		h1 {
			font: bold 24px segoe-semi, sans-serif;
			color: $blue;
			text-transform: uppercase;
			padding: 25px 0;
		}
	}
}
.policy, .brands {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0;
	&-body, .brandlist{
		width: 65%;
		float: left;
		.title {
			font: 20px segoe-semi, sans-serif;
			color: $blue;
			margin: 10px 0;
		}
		p {
			font: 15px/20px segoe-semi, sans-serif;
		}
	}
	.info {
		width: 30%;
		margin-left: 4%;
		float: left;
		.feature {
			font: bold 15px segoe-semi, sans-serif;
			position: absolute;
			top: 35px;
			right: 50px;
		}
		.in-world {
			@include size(100%, 295px);
			background: url(../../img/inworld.jpg) no-repeat;
			margin-top: 20px;
			position: relative;
			.button {
				width: 130px;
				position: absolute;
				bottom: 30px;
				left: 50%;
				margin-left: -75px;
			}
		}
		.in-number {
			@include size(100%, 295px);
			background: url(../../img/innum.jpg) no-repeat;
			margin-top: 20px;
			position: relative;
			.jcarousel2 {
				position: absolute;
				top:80px;
				left: 30px;
				width: 230px;
  				height: 170px;
   				position: relative;
   				overflow: hidden;
   				text-align: center;
   				span {
   					font: bold 70px segoe-semi, sans-serif;
   					color: $blue;
   				}
   				p {
   					font: bold 16px/23px latolight, sans-serif;
   					color: #3b4556;
   				}
			}
		}
	}
}
.brandlist {
	.brand-text {
		position: relative;
		border-bottom: 1px solid #e3e3e3;
		margin-top: 35px;
		.description {
			font: 16px/30px segoe-semi, sans-serif;
			margin: 50px 0 30px;
		}
		.button {
			position: absolute;
			right: 20px;
			top: 15px;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}