@import '_mixins';
@import '_variables';

// @include font-face('../../fonts', 'lato', 'lato', '', 'sans-se@include font-face('../../fonts', 'segoe-semi', 'seguisb', '', 'sans-serif');

@include font-face('../../fonts', 'latolight', 'lato-light', '', 'sans-serif');
@include font-face('../../fonts/segoe', 'segoe-semi', 'segoeui', '', 'sans-serif');
@import 'header';
@import 'about';
@import 'footer';
@import 'contact';
@import 'news';
@import 'policy';

#map1 {
	height: 600px;
	width: 100%;
	position:absolute;
	top: 0;
	left:0;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block; 
}
.header-wr {
	background-color: $bgcolor;
	padding-top: 35px;
}
body {
	font-family: segoe-semi, sans-serif;
}
.gm-style-iw div{
	overflow: hidden!important;
}
a {
	cursor: pointer;
}
.button {
    display: block;
    font: 12px/35px segoe-semi, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $blue;
    @include size(130px, 35px);
    padding-left: 22px;
    position: relative;
    
    &:after{
        position: absolute;
        display: block;
        content: '';
        @include size(5px, 10px);
        top: 50%;
        right: 20px;
        background-image: url(../../img/pointer2.png);
        margin-top: -5px;
    }
    &:hover {
        color: #92aee1;
    }
}

.top-wr {
	padding-top: 15px;
	background-color: $bgcolor;
	overflow-x: hidden;
	#map { 
	 	min-height: 550px;
	 	width: 100%;
	 	background-color: $bgcolor!important;
	}
	.main-title {
		margin-top: -415px;
		position: relative;
		z-index: 10;
	}
	.top-content {
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		padding: 0 10px 200px 10px;
	}
	 h1 {
		width: 490px;
		font: 39px/46px lato, sans-serif;
		color: #fff;
	}
	 .select-wr2 {
		@include size(377px, 58px);
		overflow: hidden;
	}
	 .magic-select{
		position: relative;
		font: 13px/18px segoe-semi, sans-serif;
		text-transform: uppercase;
		 width: 97%;
	}
	 .country {
		@include size(35%, 58px);
		@include box-sizing();
		background-color: #fff;
		font: 13px/18px segoe-semi, sans-serif;
		text-transform: uppercase; 
		padding: 20px;
		margin-top: 20px;
		position: relative;
		background-position: 20px;
		background-repeat: no-repeat;
		padding-left: 50px;
		
		&:after {
			position: absolute;
			display: block;
			@include size(8px, 6px);
			content: '';
			background-image: url(../../img/pointer.png);
			top: 25px;
			right: 30px;
		}		
	}
	 .select-menu{
		display: none;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	 .part-w {
		list-style: none;
		@include size(35%, 50px);
		@include box-sizing();
		line-height: 50px;
		padding-left: 50px;
		text-decoration: none;
		background-color: #e4f2ff;
	}
	 .active {
		background-color: #fff;
	}
	.sub-menu{
		//width:700px;
		min-height: 250px;
		width: 70%;
		background-color: #fff;
		position: absolute;
		top: 0;
		right:0;
		display: none;

		li {
			float: left;
			width: 33%;
			a {
				text-decoration: none;
				color: #000;
				background-position: 20px;
				background-repeat: no-repeat;
				padding-left: 50px;
			}
		}
		
	}
	@media (max-width:800px){
		.country:after {
			right: 20px;
		}
	}
	@media (max-width:630px){
		.country {
			padding-left: 15px;
		}
		.country:after {
			right: 20px;
		}
	}
	@media (max-width:500px) {
		.country {
			padding-top: 10px;
		}
		.part-w{
			padding-left: 20px;
		}
		.sub-menu {
			li {
				width: 50%;
			}
		}
		.main-title {
			h1{
				width: 320px;
				font-size: 30px;
				line-height: 33px;
				margin: 0 auto;
			}
		}
	}
}
.center-wr {
	background-color: $bgcolor;
    .center-content {
    	width: 100%;
    	max-width: 1024px;
		@include box-sizing();
    	margin: 0 auto;
    	padding: 35px 10px 140px;
    }
    .achieve {
		@include flexbox();
    	@include flex-justify-content(space-between);
    	flex-flow: row nowrap;
    	padding-bottom: 35px;
    }
     .ach{
    	width: 20%;
		 //min-width: 300px;

    	span {
    		color: $blue;
    		font: 70px segoe-semi, sans-serif;
    	}
    	 p {
    		color: #3a5579;
    		font: 15px/23px segoe-semi, sans-serif;
    	}
    }
      .video-part {
		width: 100%;
		margin-bottom: 65px;
    }
     .video {
		float: left;
		@include size(50%, 0);
 		padding-bottom: 27.25%; 
		position: relative; 
  		overflow:hidden;
		iframe {
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%;
			height: 100%; 
		}   
	}
    .slogan {
    	float: left;
    	width: 45%;
    	font: 35px/45px lato, sans-serif;
    	color: $blue;
    	margin: 6% 0 0 4%;
    }
     h2 {
    		font:24px lato, sans-serif; 
    		color: $blue;
    		text-transform: uppercase;
    		margin: 0 0 20px 0;
    }
	.brand-cont {
		@include flexbox();
		@include flex-justify-content(space-around);
		flex-wrap: wrap;
	}
    .brand-text {
    	width: 39%;
		min-width: 320px;
    	background-color: #fff;
    	opacity: 0.8;
    	padding: 30px;
     	margin: 0 0 20px 0;
    	.vent-br {
    		margin-bottom: 10px;
    	}
    }
    .description {
    	font: bold 16px/27px latolight, sans-serif;
    	color: #3a5579;
    	padding: 20px 0 15px 0;
		margin-bottom: 20px;
    	height: 90px;
    	overflow: hidden;
    }
	@media (max-width: 960px) {
		.ach {
			width: 45%;
		}
		.achieve {
			@include flex-justify-content(space-around);
			flex-flow: row wrap;
		}

	}
	@media (max-width: 800px) {
		.video {
			float: none;
			width: 96%;
			margin: 0 auto;
			padding-bottom: 55.25%;
		}
		.slogan {
			float: none;
			width: 95%;
			margin: 20px auto 0;
			font-size: 26px;
			line-height: 37px;
		}
	}
	@media (max-width: 600px) {
		.ach {
			width: 90%;
			text-align: center;
		}
	}
}
//.error-wr {
//	background-color: $bgcolor;
//	background-position: center;
//	background-repeat: no-repeat;
//    background-size: cover;
//	min-height: calc(100vh - 213px); //183 height + 30 padding
//    .center{
//		width: 100%;
//    	max-width: 1024px;
//		min-height: calc(100vh - 300px);
//    	margin: 0 auto;
//    	position: relative;
//    	&_block {
//    		max-width: 410px;
//			width: 100%;
//			max-height: 400px;
//    		position: absolute;
//    		top: 50%;
//    		left: 50%;
//    		margin: -205px 0 0 -200px;
//    	}
//    	img {
//    		width: 100%;
//    	}
//    	p {
//    		text-transform: uppercase;
//    		color: $blue;
//    		font-size: 22px;
//    		font-weight: bold;
//    		margin: 20px 0;
//			text-align: center
//    	}
//        .button {
//            margin: 0 auto;
//        }
//	}
//	@media (max-width: 440px){
//		.center_block {
//			max-width: 300px;
//			margin: -160px 0 0 -160px;
//		}
//	}
}