header .menu{
    margin-top: -23px;
    align-items: center;
    height: 75px;
}
header .menu li{
    list-style: none;
    width: 100px;
    text-align: center;
}
header .menu a {
    line-height: 1;
}
.policy-body img {
    max-width: 100%!important;
    height: auto!important;
}