/* Tiny Carousel */
#slider1 {  overflow:hidden; padding: 0 0 10px;   }
#slider1 .viewport { width: 129px; height: 290px;margin: 5px auto 0; overflow: hidden; position: relative; }
#slider1 .buttons { background:url("../img/sl/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 0 auto; background-position: 0 0; text-indent: -999em; width: 20px; height: 9px; overflow: hidden; position: relative; }
#slider1 .next { background-position: 0 -11px; margin:0 auto;  }
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 125px; left: 0 top: 0; }
#slider1 .overview li{ float: left; margin: 0 0 15px 0; padding: 1px; height:82px; border: 1px solid #dcdcdc; width: 125px;}
#slider1 .overview li:hover{cursor: pointer; }
#slider1 .overview img{ height: 82px; width: 125px;}

/* slider3 */
#slider3 {
   /*margin: 0 0 20px;*/
   /*padding-left: 3%;*/
}
#slider3 .viewport {
   width: 80%;
   height: 250px;
   float: left;
   overflow: hidden;
   position: relative;
}
#slider3 .buttons {
   background:url("../img/sl/buttons-g.png") 0 0;
   display: block;
   margin: 30px 10px 0 0;
   float: left;
   width: 9px;
   height: 20px;
   position: relative;
   text-align: center;
   line-height: 35px;
   text-decoration: none;
}
#slider3 .next {
   margin: 30px 0 0 10px;
   background-position: 10px 0;
}
#slider3 .buttons:hover{
   cursor:pointer;
}
#slider3 .disable {
   visibility: hidden;
}
#slider3 .overview {
   list-style: none;
   position: absolute;
   /*width: 390px;*/
   left: 0;
   top: 0;
}
#slider3 .overview li {
   float: left;
   /*margin: 0 20px 0 0;*/
   /*padding: 1px;*/
   height: 250px;
   margin-right: 0;
   /*border: 1px solid #dcdcdc;*/
   /*width: 390px;*/
   margin-left: 1px;
   position: relative;
}
#slider3 .overview li img {
   /*width: calc(100% + 2px);*/
   width: 100%;
   /*margin-left: -1px;*/
}
.jcarousel {
   width: 296px;
   height: 360px;
   position: relative;
   overflow: hidden;
box-sizing: border-box;
}
.jcarousel ul {
   width: 20000em;
   position: relative;
   list-style: none;
   margin: 0;
   padding: 0;
      margin-top: 23px;
}

.jcarousel li {
   float: left;
   width: 296px;
   height: 330px;
   background-color: #e8edef;
}
/*.jcarousel li img {*/
	/*width: 100%;*/
/*}*/
.right-part .jcarousel-pagination {
   text-align: center;
   position: absolute;
   z-index: 5;
   top: 23px;
   right: 4px;
}
.right-part .jcarousel-pagination a {
   display: inline-block;
   font-size: 4px;
   margin-left: 13px;
   background-color: #dce3e6;
   color: #dce3e6;
   border-radius: 50%;
   width: 7px;
   height: 7px;
   text-decoration: none;

}

.right-part .jcarousel-pagination a.active {
   background-color: #69cef5;
   color: #69cef5;
}

.jcarousel2 {
   width: 230px;
   height: 170px;
   position: relative;
   overflow: hidden;

}
.jcarousel2 ul {
   width: 20000em;
   position: relative;
   list-style: none;
   margin: 0;
   padding: 0;
}

.jcarousel2 li {
   float: left;
   width: 230px;
   height: 170px;
}

.in-number .jcarousel-pagination {
   text-align: center;
   position: absolute;
   z-index: 5;
   bottom: 20px;
   left: 110px;
}
.in-number .jcarousel-pagination a {
   display: inline-block;
   font-size: 4px;
   margin-left: 10px;
   background-color: #fff;
   color: #fff;
   border-radius: 50%;
   width: 6px;
   height: 6px;
   text-decoration: none;

}

.in-number .jcarousel-pagination a.active {
   background-color: #0c4da1;
   color: #0c4da1;
}